@{ 
    Layout = null;
}
<style>
    .panel-with-icon{
        padding-left:3em;
    }
</style>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'west',title:'桌面',iconCls:'icon-desktop',split:true" style="width:180px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">

            <div title="民营概况介绍"  data-options="iconCls:'icon-folder'">
                <div class="list-group">
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2012" href="#">2012年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2013" href="#">2013年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2014" href="#">2014年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2015" href="#">2015年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2016" href="#">2016年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                </div>
            </div>

            <div title="数据资料" data-options="iconCls:'icon-folder'">
                <div class="list-group">
                    <a class="list-group-item easyui-tooltip" url="/Data/Increase" href="#">民营经济增加值<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/BasicSituation" href="#">营经济基本单位情况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/IRSIncome" href="#">民营经济国税收入<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/InvestmentInFixedAssets" href="#">固定资产投资<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/IndustrialSubSectorsIndicators" href="#">工业分行业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>

                    <a class="list-group-item easyui-tooltip" url="/Data/IndustrialIndicators" href="#">工业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/WholesaleBusiness" href="#">批发企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/RetailBusiness" href="#">零售企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/AccommodationIndustry" href="#">住宿业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/CateringIndustry" href="#">餐饮业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/BuildingIndustry" href="#">筑企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>

                </div>
            </div>


            <div title="数据查询" data-options="iconCls:'icon-folder'">
                <div class="list-group">
                    <a id="user-manager" class="mtooltip1 list-group-item easyui-tooltip" url="/NonPublicIndustry/Index" href="#">工业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="mtooltip2 list-group-item easyui-tooltip" url="/IndustryClassification/Index" href="#">工业分行业指标<span style="font-size:1px;color:red;text-overflow:clip">1</span><span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="mtooltip3 list-group-item easyui-tooltip" url="/IndustryClassifcationT/Index" href="#">工业分行业指标<span style="font-size:1px;color:red;text-overflow:clip">2</span><span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" href="#">工业增加值<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" href="#">重点企业<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" href="#">重点项目<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div data-options="region:'center'" style="padding:5px;background:#eee;">
        <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false" style="width:100%;height:99%;">
            <div title="首页" style="padding:20px;display:none;">
               
            </div>
        </div>
    </div>
</div>
