
<body id="mainLayout" class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',cache:false" style="overflow: hidden;">
        <div class="easyui-layout" data-options="fit:true,border:false">
            <div data-options="region:'west',title:'菜单栏',split:true" style="width:180px;">
                <div class="easyui-accordion" data-options="fit:true,border:false">

                    <div title="民营概况介绍" data-options="iconCls:'icon-clist'">
                        <div class="list-group">
                            <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2012" href="#">2012年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2013" href="#">2013年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2014" href="#">2014年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2015" href="#">2015年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2016" href="#">2016年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                        </div>
                    </div>

                    <div title="数据资料" data-options="iconCls:'icon-clist'">
                        <div class="list-group">
                            <a class="list-group-item easyui-tooltip" url="/Data/Increase" href="#">民营经济增加值<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/BasicSituation" href="#">营经济基本单位情况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/IRSIncome" href="#">民营经济国税收入<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/InvestmentInFixedAssets" href="#">固定资产投资<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/IndustrialSubSectorsIndicators" href="#">工业分行业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>

                            <a class="list-group-item easyui-tooltip" url="/Data/IndustrialIndicators" href="#">工业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/WholesaleBusiness" href="#">批发企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/RetailBusiness" href="#">零售企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/AccommodationIndustry" href="#">住宿业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/CateringIndustry" href="#">餐饮业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" url="/Data/BuildingIndustry" href="#">筑企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>

                        </div>
                    </div>


                    <div title="数据查询" data-options="iconCls:'icon-clist'">
                        <div class="list-group">
                            <a id="user-manager" class="mtooltip1 list-group-item easyui-tooltip" url="/NonPublicIndustry/Index" href="#">工业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="mtooltip2 list-group-item easyui-tooltip" url="/IndustryClassification/Index" href="#">工业分行业指标<span style="font-size:1px;color:red;text-overflow:clip">1</span><span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="mtooltip3 list-group-item easyui-tooltip" url="/IndustryClassifcationT/Index" href="#">工业分行业指标<span style="font-size:1px;color:red;text-overflow:clip">2</span><span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" href="#">工业增加值<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" href="#">重点企业<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                            <a class="list-group-item easyui-tooltip" href="#">重点项目<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div data-options="region:'center'" style="padding:5px;background:#eee;">
                <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false" style="width:100%;height:99%;">
                    <div title="首页" style="padding:20px;display:none;">

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*'north'*@
    <div data-options="region:'south',href:''" style="height: 60px; overflow: hidden;" class="logo">
        <div style="float:right;background-color:#BD2828;  height:100%;">
            <img border="0" style="margin-right:0;max-height:100%" src="~/Images/ImagesBusiness/Logo.png" />
        </div>
        <div class="title"><img border="0" style="max-height:100%;margin-top:3px;margin-left:15px;" src="~/Content/ThemesEasyui/red/exImages/统计.png"></div>
        <div class="button menu-button">
            <a href="#" data-url="/Menu/Desktop" onclick="meunClick(this)">
                <img border="0" style="margin-top:-9px" class="button-image" src="~/Images/ImagesBusiness/_桌面.png"
                     icon="~/Images/ImagesBusiness/__桌面.png" iconhover="~/Images/ImagesBusiness/_桌面.png" />
                桌面
            </a>
        </div>
        <div class="button menu-button">
            <a href="#" data-url="/Menu/Chart" onclick="meunClick(this)">
                <img border="0" style="margin-top:-9px" class="button-image" src="~/Images/ImagesBusiness/__图表.png"
                     icon="~/Images/ImagesBusiness/__图表.png" iconhover="~/Images/ImagesBusiness/_图表.png" />
                图表
            </a>
        </div>
        <div class="button menu-button">
            <a href="#" data-url="/Menu/DataInput" onclick="meunClick(this)">
                <img border="0" style="margin-top:-9px" class="button-image" src="~/Images/ImagesBusiness/__上传.png"
                     icon="~/Images/ImagesBusiness/__上传.png"
                     iconhover="~/Images/ImagesBusiness/_上传.png" />
                数据录入
            </a>
        </div>
        <div class="quit">
            <ul>
                <li> <img border="0" style="margin-right:5px" src="/Images/ImagesBusiness/uesricon.png" /> </li>
                <li style="padding-right:10px;"><span style="color:#FFFFFF;">您好！用户名</span></li>
                <li> <a class="no-hover" href="/Authority/User/Logout"><img border="0" style="margin-right:5px" src="/Images/ImagesBusiness/withdraw.png" class="button-image" /></a> </li>
                <li style="padding-right:20px;"><a class="no-hover" href="/Authority/User/Logout"><span style="color:#FFFFFF;">注销</span></a></li>
            </ul>
        </div>
    </div>

    <script>
        function meunClick(element) {
            //显示一个菜单
            debugger;
            var url = $(element).attr("data-url") + "?str=" + Math.random();
            $("#mainLayout").layout("panel", "center").panel('open').panel('refresh', url);
            //把所有的菜单设置为位选中
            var imgs = $(".menu-button img");
            for (var i = 0; i < imgs.length; i++) {
                $(imgs[i]).attr("src", $(imgs[i]).attr("icon"));
            }
            //设置一个选中的菜单
            var iconhover = $(element).find("img").attr("iconhover");
            $(element).find("img").attr("src", iconhover);


        }
    </script>
</body>