@{
    Layout = null;
}
<body>
    <table id="dg-industryClassification"></table>
    <div id="tbic">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true,text:'导出'"></a>
        <a href="#" id="removeIC" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true,text:'删除'"></a>
        <div class="pull-right" style="margin-right:40px">
            <input id="date-industryClassification" class="easyui-combobox"
                   data-options="buttonText:'月份',buttonAlign:'left',valueField:'value',textField:'text',url:'/IndustryClassification/Dates'" style="width:170px">
            <input id="region-industryClassification" class="easyui-combobox"
                   data-options="buttonText:'地区',buttonAlign:'left',valueField:'id',textField:'name',url:'/Region/GetAll'" style="width:170px;margin-right:2px">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true,text:'搜索'" onclick="seacherIndustryClassification()"></a>
        </div>
    </div>
    <script>
        $(function () {
            $("#dg-industryClassification").datagrid({
                url: "/IndustryClassification/GetPager",
                toolbar: '#tbic',
                striped: true,
                collapsible: true,
                width: "100%",
                height: "100%",
                fitColumn: false,
                showFooter: true,
                frozenColumns: [[
                    { field: 'ID', title: 'ID', checkbox: true },
                    { field: 'RegionName', title: '地区', width: 50 },
                    {
                        field: 'Date', title: '月份', width: 100,
                        formatter: function (value, row, index) {
                            return value.replace(/(\d{4}).(\d{1,2}).+/mg, '$1年$2月');
                        }
                    },
                ]],
                columns: [[
                  
                    { field: 'ClassificationName', title: '行业', width: 50 },
                    { field: 'IndustryOutput', title: '工业总产值', width: 100 },
                    { field: 'IndustrySalesOutput', title: '工业销售产值', width: 100 },
                    { field: 'IndustryGrowthOutput', title: '工业增加值', width: 100 },
                    { field: 'IGO_GrowthRate', title: '同比增长', width: 100 },
                     //学生表的信息
                    { field: 'AssetsTotal', title: '资产总计', width: 100 },
                    { field: 'AT_GrowthRate', title: '同比增长', width: 100 },
                    { field: 'DebtTotal', title: '负债合计', width: 100 },

                    { field: 'DTG_GrowthRate', title: '同比增长', width: 100 },
                    { field: 'Income', title: '主营业务收入', width: 100 },
                    { field: 'Inc_GrowthRate', title: '同比增长', width: 100 },
                    { field: 'ProfitsTotal', title: '利润总额', width: 100 },
                    { field: 'Pro_GrowthRate', title: '同比增长', width: 100 },
                    { field: 'VAT', title: '应交增值税', width: 100 },
                    
                    { field: 'VAT_GrowthRate', title: '同比增长', width: 80 },
                    { field: 'ExpenceInterest', title: '利息支出', width: 100 },
                    { field: 'EI_GrowthRate', title: '同比增长', width: 100 },
                 
                     
                    { field: 'Stock', title: '存货', width: 100 },
                    { field: 'St_GrowthRate', title: '同比增长', width: 100 },
                    
                  
                ]],
                pagination: true,
                pageList: [20, 40],
                pageSize: 20,
            });
        })
        //seacher 重新加载
        function seacherIndustryClassification(date, region) {
            debugger;
            $('#dg-industryClassification').datagrid('load', {
                date: $('#date-industryClassification').combobox('getValue'),
                region: $('#region-industryClassification').combobox('getValue')
            });
        }
        $("#removeIC").click(function () {
                debugger;
                var checkedRows = $('#dg-industryClassification').datagrid('getChecked');
                var ids = [];
                var indexs = [];
                $.each(checkedRows, function (index, value) {
                    ids.push(value["ID"]);
                    var index = $('#dg-industryClassification').datagrid('getRowIndex', value);
                    indexs.push(index);
                })
                if (ids.length>0) {
                    $.messager.confirm('确认', '您确认想要删除记录吗？', function (r) {
                        if (r) {
                            $.post("/IndustryClassification/Delete", { ids: ids }, function (data) {
                                for (var i = indexs.length; i >= 0; i--) {
                                    $('#dg-industryClassification').datagrid('deleteRow', indexs[i-1]);
                                }
                            })
                        }
                    });
                }
               
        })
    </script>
</body>
