
@{
    Layout = null;
}
<body>
    <div class="data-show-1">
        <h4>
            2016年煤矿
            <small>2-12月的数据信息</small>
        </h4>
        <div id="data-show-0" style="height: 520px;border: none"></div>
    </div>
    <script src="~/Scripts/echarts.js"></script>
    <script>
        var mychart = echarts.init(document.getElementById("data-show-0"));
        $(function () {
            $.get("/IndustryClassification/GetInfoForView", { classificationid: 1 }, function (data) {
                debugger;
                var data = $.parseJSON(data);
                var schema = [
                    { name: 'month', index: 0, text: '月份' },
                    { name: 'IndustryGrowthOutput', index: 1, text: '工业增加值' },
                    { name: 'AssetsTotal', index: 2, text: '资产总计' },
                    { name: 'DebtTotal', index: 3, text: '负债总计' },
                    { name: 'Income', index: 4, text: '主营收入' },
                    { name: 'Stock', index: 5, text: '存货' },
                ];
                var itemStyle = {
                    normal: {
                        opacity: 0.8,
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowOffsetY: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                };

                var option = {
                    backgroundColor: '#404a59',
                    color: [
                        '#dd4444', '#fec42c', '#80F1BE'
                    ],
                    legend: {
                        y: 'top',
                        data: ['贵阳市', '六盘水', '遵义市', "安顺市", "毕节市", "铜仁市", "黔西南", "黔东南", "黔南"],
                        textStyle: {
                            color: '#fff',
                            fontSize: 16
                        }
                    },
                    grid: {
                        x: '10%',
                        x2: 150,
                        y: '18%',
                        y2: '10%'
                    },
                    tooltip: {
                        padding: 10,
                        backgroundColor: '#222',
                        borderColor: '#777',
                        borderWidth: 1,
                        formatter: function (obj) {
                            var value = obj.value;
                            return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                                + obj.seriesName + ' ' + value[0] + '月：'
                                + '</div>'
                                + schema[1].text + '：' + value[1] + '<br>'
                                + schema[2].text + '：' + value[2] + '<br>'
                                + schema[3].text + '：' + value[3] + '<br>'
                                + schema[4].text + '：' + value[4] + '<br>'
                                + schema[5].text + '：' + value[5] + '<br>';

                        }
                    },
                    xAxis: {
                        type: 'value',
                        name: '2016年月份',
                        nameGap: 16,
                        nameTextStyle: {
                            color: '#fff',
                            fontSize: 14
                        },
                        max: 12,
                        min: 2,
                        splitLine: {
                            show: false
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#eee'
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        name: '工业增加值',
                        nameLocation: 'end',
                        nameGap: 20,
                        nameTextStyle: {
                            color: '#fff',
                            fontSize: 16
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#eee'
                            }
                        },
                        splitLine: {
                            show: false
                        }
                    },
                    visualMap: [
                        {
                            left: 'right',
                            top: '10%',
                            dimension: 2,
                            min: 0,
                            max: 3500000,
                            itemWidth: 30,
                            itemHeight: 120,
                            calculable: true,
                            precision: 0.1,
                            text: ['圆形大小：资产总计'],
                            textGap: 30,
                            textStyle: {
                                color: '#fff'
                            },
                            inRange: {
                                symbolSize: [10, 70]
                            },
                            outOfRange: {
                                symbolSize: [10, 70],
                                color: ['rgba(255,255,255,.2)']
                            },
                            controller: {
                                inRange: {
                                    color: ['#c23531']
                                },
                                outOfRange: {
                                    color: ['#444']
                                }
                            }
                        },
                        {
                            left: 'right',
                            bottom: '5%',
                            dimension: 5,
                            min: 0,
                            max: 100000,
                            itemHeight: 120,
                            calculable: true,
                            precision: 0.1,
                            text: ['明暗：存货'],
                            textGap: 30,
                            textStyle: {
                                color: '#fff'
                            },
                            inRange: {
                                colorLightness: [1, 0.5]
                            },
                            outOfRange: {
                                color: ['rgba(255,255,255,.2)']
                            },
                            controller: {
                                inRange: {
                                    color: ['#c23531']
                                },
                                outOfRange: {
                                    color: ['#444']
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '贵阳市',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: data["贵阳市"]
                        },
                        {
                            name: '六盘水',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: data["六盘水"]
                        },
                        {
                            name: '遵义市',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: data["遵义市"]
                        },
                         {
                             name: '安顺市',
                             type: 'scatter',
                             itemStyle: itemStyle,
                             data: data["安顺市"]
                         },
                        {
                            name: '毕节市',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: data["毕节市"]
                        },
                        {
                            name: '铜仁市',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: data["铜仁市"]
                        },
                         {
                             name: '黔西南',
                             type: 'scatter',
                             itemStyle: itemStyle,
                             data: data["黔西南"]
                         },
                        {
                            name: '黔东南',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: data["黔东南"]
                        },
                        {
                            name: '黔南',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: data["黔南"]
                        }
                    ]
                };
                mychart.setOption(option);
            });
        });

    </script>
</body>