
<div class="panel panel-primary ">
    <div class="header">
        <div class="row-fluid ">
            <div class="col-md-4">
                <div class="header-title">
                    <h1>数据展示</h1>
                </div>
            </div>
            <div class="col-md-8 mark ">
                <div class="pull-right">
                    <div class="head">
                        <div class="col-md-5 mark">
                        </div>
                        <div class="col-md-7 mark">
                            <div class="icon-head"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body panelbody">
        <div class="main">
            <div class="container-fluid">
                <div class="row-fluid">
                    <!--左边的布局-->
                    <div class="col-md-2 marked">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">选项配置</h3>
                            </div>
                            <div class="panel-body">
                                <div class="input-group form-group">
                                    <span class="input-group-addon">分类</span>
                                    <select id="select-type" class="form-control input-sm">
                                        <option value="-1">请选择类型</option>
                                        <option value="1">民营经济工业指标</option>
                                        <option value="2">规上民营经济工业分行指标</option>
                                    </select>
                                </div>
                                <hr style="border:none;border-top:1px dashed #0066CC;" />
                                <div class="input-group form-group">
                                    <span class="input-group-addon">地区</span>
                                    <select id="select-region-1" class="form-control input-sm">
                                        <option value="-1">请选择地区</option>

                                    </select>
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon">月份</span>
                                    <select id="select-data-1" class="form-control input-sm">
                                        <option value="-1">请选择月份</option>

                                    </select>
                                </div>
                                <hr style="border:none;border-top:1px dashed #0066CC;" />
                                <div class="input-group form-group">
                                    <label for="chk" class="input-group-addon">对比</label>
                                    <div class="form-control from-control-customer">
                                        <input type="checkbox" id="chk" class="chk" />
                                    </div>
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon">地区</span>
                                    <select id="select-region-2" class="form-control input-sm">
                                        <option value="-1">请选择地区</option>

                                    </select>
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon">月份</span>
                                    <select id="select-data-2" class="form-control input-sm">
                                        <option value="-1">请选择月份</option>

                                    </select>
                                </div>
                                <hr style="border:none;border-top:1px dashed #0066CC;" />
                                <di>
                                    <button class="btn  btn-primary" style="width: 100%">查询数据</button>
                                </di>
                            </div>
                        </div>
                    </div>
                    <!--右边的布局-->
                    <div class="col-md-10 ">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="active bule1"><a href="#data" data-toggle="tab">数据视图</a></li>
                            <li role="presentation"><a href="#datacomple" data-toggle="tab">对比视图</a></li>
                            <li role="presentation"><a href="#datafutrue" data-toggle="tab">未来预测</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class=" tab-pane fade in active" id="data">
                                <div class="cc">
                                    <div class="data-show-1">
                                        <h4>
                                            一种方案
                                            <small>Subtext for header</small>
                                        </h4>
                                        <div id="data-show-1" style="height: 400px;border: dotted"></div>
                                    </div>
                                    <h4>
                                        第二种方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    @*<div id="data-show-2" style="height: 400px;border: dotted">
                                    </div>*@
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6" style="margin-right:0;padding-right:0;border-right-width:0">
                                                <div id="data-show-2-1" style="height: 400px;border: dotted">
                                                </div>
                                            </div>
                                            <div  class="col-lg-6" style="margin-left:0;padding-left:0;border-left-width:0">
                                                <div id="data-show-2-2" style="height: 400px;border: dotted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <h4>
                                        第三种方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    <div class="data-show-3" style="height: 400px;border: dotted">
                                        <table id="table">
                                            <thead>
                                                <tr>
                                                    <th data-field="name" data-formatter="commonFormatter" data-events="commonEvents">Name</th>
                                                    <th data-field="stargazers_count" data-formatter="commonFormatter" data-events="commonEvents">Stars</th>
                                                    <th data-field="forks_count" data-formatter="commonFormatter" data-events="commonEvents">Forks</th>
                                                    <th data-field="description" data-formatter="commonFormatter" data-events="commonEvents">Description</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class=" tab-pane fade" id="datacomple">
                                <div class="cc">
                                    <h4>
                                        第一种对比方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    <div id="data-vs-1" style="height: 400px;border: dotted">
                                    </div>
                                    <h4>
                                        第二种对比方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    <div id="data-vs-2" style="height: 400px;border: dotted">
                                    </div>
                                </div>
                            </div>
                            <div class=" tab-pane fade" id="datafutrue">
                                <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

//柱状图，地图
<script type="text/javascript">
    var mychar1 = echarts.init(document.getElementById("data-show-1"));
    $(function () {

        $.get("/api/IndustrycCassification/GetInfo", { dateInt: 1, regionId: 3 },
          function (data) {
              var info = $.parseJSON(data);
              var LegendData = info.LegendData
              var IndustrySalesOutput = info.IndustrySalesOutput
              var IndustryGrowthOutput = info.IndustryGrowthOutput
              var AssetsTotal = info.AssetsTotal
              var DebtTotal = info.DebtTotal
              var Income = info.Income
              var Stock = info.Stock

              //设置option
              var option = {
                  tooltip: {
                      trigger: 'item'
                  },
                  toolbox: {
                      show: true,
                      y: 'bottom',
                      feature: {
                          mark: { show: true },
                          dataView: { show: true, readOnly: false },
                          magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                          restore: { show: true },
                          saveAsImage: { show: true }
                      }
                  },
                  calculable: true,
                  legend: {
                      //行业名称
                      data: ['工业销售产值', '工业增加值', '资产总值', '负责合计', '主营收入', '存货']
                  },
                  xAxis: [
                      {
                          type: 'category',
                          splitLine: { show: false },
                          //值类型LegendData
                          data: LegendData
                      }
                  ],
                  yAxis: [
                      {
                          type: 'value',
                          position: 'right'
                      }
                  ],
                  series: [
                      {
                          name: '工业销售产值',
                          type: 'bar',
                          data: IndustrySalesOutput,
                        
                      },
                      {
                          name: '工业增加值',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          stack: '广告',
                          data: IndustryGrowthOutput,

                          //markLine: {
                          //    data: [
                          //           { type: 'average', name: '平均值' },
                          //           { type: 'max' },
                          //           { type: 'min' }
                          //         ]
                          //       }
                          },
                      {
                          name: '资产总值',
                          type: 'line',
                          tooltip: { trigger: 'axis' },
                          stack: '广告',
                          data: AssetsTotal
                      },
                      {
                          name: '负责合计',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          stack: '广告',
                          //itemStyle: {
                          //    normal: {                   // 系列级个性化，横向渐变填充
                          //        label: {
                          //            show: true,
                          //            textStyle: {
                          //            }
                          //        }
                          //    }
                          //},
                          data: DebtTotal
                      },
                      {
                          name: '主营收入',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          data: Income
                      },
                      {
                          name: '存货',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          stack: '广告',
                          data: Stock
                      },

                      {
                          name: '总产值',
                          type: 'pie',
                          tooltip: {
                              trigger: 'item',
                              formatter: '{a} <br/>{b} : {c} ({d}%)'
                          },
                          center: ["70%", 140],
                          radius: [0, 70],
                          itemStyle: {
                              normal: {
                                  labelLine: {
                                      length: 20
                                  }
                              }
                          },
                          data: [
                              { value: 148, name: '白酒' },
                              { value: 251, name: '化工' },
                              { value: 147, name: '有色' },
                              { value: 102, name: '冶金' },
                              { value: 102, name: '装备制造' },
                              { value: 102, name: '建材' },
                              { value: 102, name: '医药' },
                              { value: 102, name: '食品' },
                              { value: 102, name: '其他轻工业' },
                          ]
                      }
                  ]
              };

              mychar1.setOption(option);
          });
    })
    var mycharvs2 = echarts.init(document.getElementById("data-show-2-1"));
    optionvs2 = {
        //backgroundColor: '#2c343c',
        title: {
            text: 'Customized Pie',
            left: 'center',
            top: 20,
            textStyle: {
                color: '#ccc'
            }
        },

        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '50%'],
                data: [
                    { value: 335, name: '直接访问' },
                    { value: 310, name: '邮件营销' },
                    { value: 274, name: '联盟广告' },
                    { value: 235, name: '视频广告' },
                    { value: 400, name: '搜索引擎' }
                ].sort(function (a, b) { return a.value - b.value }),
                roseType: 'angle',
                label: {
                    normal: {
                        textStyle: {
                          
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    mycharvs2.setOption(optionvs2);

    var mycharvs22 = echarts.init(document.getElementById("data-show-2-2"));
    var optionshow22 = {
        //backgroundColor: '#2c343c',
        tooltip: {
            show:false,
            trigger: 'axis',
            axisPointer: {            
                type: 'shadow'       
            }
        },
        legend: {
            //data: ['利润']
        },
        toolbox: {
            show: true,
            feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['bar'] },
                restore: { show: true },
                saveAsImage: { show: true }
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'value'
            }
        ],
        yAxis: [
            {
                type: 'category',
                axisTick: { show: false },
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            }
        ],
        series: [
            {
                name: '利润',
                type: 'bar',
                itemStyle: { normal: { label: { show: true, position: 'inside' } } },
                data: [-200, 170, 240, 244, 200, 220, 210]
            }
        ]
    };

    mycharvs22.setOption(optionshow22);
</script>
//表格
<script type="text/javascript">
    var data = [
        {
            "name": "bootstrap-table",
            "stargazers_count": "526",
            "forks_count": "122",
            "description": "An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features. (supports twitter bootstrap v2 and v3) "
        },
        {
            "name": "multiple-select",
            "stargazers_count": "288",
            "forks_count": "150",
            "description": "A jQuery plugin to select multiple elements with checkboxes :)"
        },
        {
            "name": "bootstrap-show-password",
            "stargazers_count": "32",
            "forks_count": "11",
            "description": "Show/hide password plugin for twitter bootstrap."
        },
        {
            "name": "blog",
            "stargazers_count": "13",
            "forks_count": "4",
            "description": "my blog"
        },
        {
            "name": "scutech-redmine",
            "stargazers_count": "6",
            "forks_count": "3",
            "description": "Redmine notification tools for chrome extension."
        }
    ];
    $(function () {
        $('#table').bootstrapTable({
            data: data
        });
    });
    function commonFormatter(value) {
        return '<div data-field="' + this.field + '">' + value + '</div>';
    }
    window.commonEvents = {
        'click div': function (e) {
            alert('You click field: ' + $(e.target).attr('data-field'));
        }
    }
</script>
//雷达图
<script type="text/javascript">
    $(function() {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            // 获取已激活的标签页的名称
            var activeTab = $(e.target).text();
            //alert(activeTab);
            if (activeTab == '对比视图') {
                var mycharvs1 = echarts.init(document.getElementById("data-vs-1"));
                var optionvs1 = {
                    title: {
                        text: '基础雷达图'
                    },
                    tooltip: {},
                    legend: {
                        data: ['预算分配（Allocated Budget）', '实际开销（Actual Spending）']
                    },
                    radar: {
                        // shape: 'circle',
                        indicator: [
                            { name: '销售（sales）', max: 6500 },
                            { name: '管理（Administration）', max: 16000 },
                            { name: '信息技术（Information Techology）', max: 30000 },
                            { name: '客服（Customer Support）', max: 38000 },
                            { name: '研发（Development）', max: 52000 },
                            { name: '市场（Marketing）', max: 25000 }
                        ]
                    },
                    series: [
                        {
                            name: '预算 vs 开销（Budget vs spending）',
                            type: 'radar',
                            // areaStyle: {normal: {}},
                            data: [
                                {
                                    value: [4300, 10000, 28000, 35000, 50000, 19000],
                                    name: '预算分配（Allocated Budget）'
                                },
                                {
                                    value: [5000, 14000, 28000, 31000, 42000, 21000],
                                    name: '实际开销（Actual Spending）'
                                }
                            ]
                        }
                    ]
                };
                mycharvs1.setOption(optionvs1);
                $.get('../JsonData/guizhou.json', function (guizhouJson) {
                    echarts.registerMap('guizhou', guizhouJson);
                    var chart = echarts.init(document.getElementById('data-vs-2'));
                    echarts.registerMap('guizhou', guizhouJson, {
                    });
                    chart.setOption({
                        backgroundColor: '#404a59',
                        geo: {
                            map: 'guizhou',
                            label: {
                                emphasis: {
                                    show: false
                                }
                            },
                            roam: true,
                            itemStyle: {
                                normal: {
                                    areaColor: '#323c48',
                                    borderColor: '#428bca'
                                },
                                emphasis: {
                                    areaColor: '#2a333d'
                                }
                            }
                        },
                    });
                });
            }
        });
    });
</script>

<script type="text/javascript">
    var selectObject = function (id) {
        function add(option) {
            var select = document.getElementById(id);
            select.options.add(option);
        }
        function getSelectedValue() {
            var select = document.getElementById(id);
            return select.options[select.options.selectedIndex].value;
        }
        function getSelecteText() {
            var select = document.getElementById(id);
            return select.options[select.options.selectedIndex].text;
        }
    };
    //请求地区
    $(function () {
        $.ajax({
            url: "/api/Region/5",
            dataType: "json",
            contentType: "application/json",
            async: true,
            type: "get",
            success: function (data) {
                var regionData = JSON.parse(data);
                var selectRegion1 = document.getElementById("select-region-1");
                var selectRegion2 = document.getElementById("select-region-2");
                for (var i = 0; i < regionData.length; i++) {
                    selectRegion1.options.add(new Option(regionData[i].Name, regionData[i].ID));
                    selectRegion2.options.add(new Option(regionData[i].Name, regionData[i].ID));
                }
            },
            error: function () {

            }
        });
    });

    //Common
    //请求地区
    $(function () {
        $.ajax({
            url: "/api/Common/GetDate",
            dataType: "json",
            contentType: "application/json",
            async: true,
            type: "get",
            success: function (data) {
                var dataType = JSON.parse(data);
                var selectDate1 = document.getElementById("select-data-1");
                var selectDate2 = document.getElementById("select-data-2");
                for (var i = 0; i < dataType.length; i++) {
                    selectDate1.options.add(new Option(dataType[i], i));
                    selectDate2.options.add(new Option(dataType[i], i));
                }
            },
            error: function () {

            }
        });
    });

    //启用/禁用选择项
    function checkClick() {
        $("#chk").click(function () {
            var isCheked = $("#chk").is(":checked");
            if (isCheked) {
                document.getElementById("select-region-2").removeAttribute("disabled");
                document.getElementById("select-data-2").removeAttribute("disabled");
            }
            else {
                document.getElementById("select-region-2").options[0].selected = true;
                document.getElementById("select-data-2").options[0].selected = true;
                document.getElementById("select-region-2").setAttribute("disabled", "disabled");
                document.getElementById("select-data-2").setAttribute("disabled", "disabled");
            }
        });
    }
    $(function () {
        checkClick();
        document.getElementById("select-region-2").setAttribute("disabled", "disabled");
        document.getElementById("select-data-2").setAttribute("disabled", "disabled");
    })

    //请求民营规模以上的经济分行信息

</script>