
<div class="panel panel-primary ">
    <div class="header">
        <div class="row-fluid ">
            <div class="col-md-4">
                <div class="header-title">
                    <h1>数据展示</h1>
                </div>
            </div>
            <div class="col-md-8 mark ">
                <div class="pull-right">
                    <div class="head">
                        <div class="col-md-5 mark">
                        </div>
                        <div class="col-md-7 mark">
                            <div class="icon-head"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body panelbody">
        <div class="main">
            <div class="container-fluid">
                <div class="row-fluid">
                    <!--左边的布局-->
                    <div class="col-md-2 marked">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">选项配置</h3>
                            </div>
                            <div class="panel-body">
                                <div class="input-group form-group">
                                    <span class="input-group-addon">分类</span>
                                    <select id="select-type" class="form-control input-sm">
                                        <option value="0">规上民营经济工业分行指标</option>
                                        @*<option value="1">民营经济工业指标</option>*@
                                        @*<option value="2">规上民营经济工业分行指标</option>*@
                                    </select>
                                </div>
                                <hr style="border:none;border-top:1px dashed #0066CC;" />
                                <div class="input-group form-group">
                                    <span class="input-group-addon">地区</span>
                                    <select id="select-region-1" class="form-control input-sm">
                                        <option value="-1">请选择地区</option>

                                    </select>
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon">月份</span>
                                    <select id="select-data-1" class="form-control input-sm">
                                        <option value="-1">请选择月份</option>

                                    </select>
                                </div>
                                <hr style="border:none;border-top:1px dashed #0066CC;" />
                                <div class="input-group form-group">
                                    <label for="chk" class="input-group-addon">对比</label>
                                    <div class="form-control from-control-customer">
                                        <input type="checkbox" id="chk" class="chk" />
                                    </div>
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon">地区</span>
                                    <select id="select-region-2" class="form-control input-sm">
                                        <option value="-1">请选择地区</option>

                                    </select>
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon">月份</span>
                                    <select id="select-data-2" class="form-control input-sm">
                                        <option value="-1">请选择月份</option>

                                    </select>
                                </div>
                                <hr style="border:none;border-top:1px dashed #0066CC;" />
                                <di>
                                    <button id="data-Query" class="btn  btn-primary" style="width: 100%">查询数据</button>
                                </di>
                            </div>
                        </div>
                    </div>
                    <!--右边的布局-->
                    <div class="col-md-10 ">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="active bule1"><a href="#data" data-toggle="tab">数据视图</a></li>
                            <li role="presentation"><a href="#datacomple" data-toggle="tab">对比视图</a></li>
                            <li role="presentation"><a href="#datafutrue" data-toggle="tab">未来预测</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="data">
                                <div class="cc">
                                    <div class="data-show-1">
                                        <h4>
                                            0方案
                                            <small>Subtext for header</small>
                                        </h4>
                                        <div id="data-show-0" style="height: 400px;border: dotted"></div>
                                    </div>
                                    <div class="data-show-1">
                                        <h4>
                                            一种方案
                                            <small>Subtext for header</small>
                                        </h4>
                                        <div id="data-show-1" style="height: 400px;border: dotted"></div>
                                    </div>
                                    <h4>
                                        第二种方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    @*<div id="data-show-2" style="height: 400px;border: dotted">
                                    </div>*@
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6" style="margin-right:0;padding-right:0;border-right-width:0">
                                                <div id="data-show-2-1" style="height: 400px;border: dotted">
                                                </div>
                                            </div>
                                            <div  class="col-lg-6" style="margin-left:0;padding-left:0;border-left-width:0">
                                                <div id="data-show-2-2" style="height: 400px;border: dotted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <h4>
                                        第三种方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    <div class="data-show-3" style="height: 4px;border: dotted">
                                        @*<table id="table">
                                            <thead>
                                                <tr>
                                                    <th data-field="name" data-formatter="commonFormatter" data-events="commonEvents">Name</th>
                                                    <th data-field="stargazers_count" data-formatter="commonFormatter" data-events="commonEvents">Stars</th>
                                                    <th data-field="forks_count" data-formatter="commonFormatter" data-events="commonEvents">Forks</th>
                                                    <th data-field="description" data-formatter="commonFormatter" data-events="commonEvents">Description</th>
                                                </tr>
                                            </thead>
                                        </table>*@
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="datacomple">
                                <div class="cc">
                                    <h4>
                                        第一种对比方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    <div id="data-vs-1" style="height: 400px;border: dotted">
                                    </div>
                                    <h4>
                                        第二种对比方案
                                        <small>Subtext for header</small>
                                    </h4>
                                    <div id="data-vs-2" style="height: 500px;border: dotted">
                                    </div>
                                </div>
                            </div>
                            <div class=" tab-pane fade" id="datafutrue">
                                <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/gtmd-report.js"></script>
@*//柱状图，地图*@
<script type="text/javascript">

    var mychar0 = echarts.init(document.getElementById("data-show-0"));
    $(function () {
        $.get("/api/IndustrycCassification/GetInfoForView", { classificationid: 1 }, function (data) {

            //var dataGY = data["贵阳市"];

            //var dataLPS = data["六盘水市"];

            //var dataZY = data["遵义"];
          
            var schema = [
                { name: 'month', index: 0, text: '月份' },
                { name: 'IndustryGrowthOutput', index: 1, text: '工业增加值' },
                { name: 'AssetsTotal', index: 2, text: '资产总计' },
                { name: 'DebtTotal', index: 3, text: '负债总计' },
                { name: 'Income', index: 4, text: '主营收入' },
                { name: 'Stock', index: 5, text: '存货' },
            ];

            var itemStyle = {
                normal: {
                    opacity: 0.8,
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            };

            var option0 = {
                backgroundColor: '#404a59',
                color: [
                    '#dd4444', '#fec42c', '#80F1BE'
                ],
                legend: {
                    y: 'top',
                    data: ['贵阳市', '六盘水', '遵义市', "安顺市", "毕节市", "铜仁市", "黔西南", "黔东南", "黔南"],
                    textStyle: {
                        color: '#fff',
                        fontSize: 16
                    }
                },
                grid: {
                    x: '10%',
                    x2: 150,
                    y: '18%',
                    y2: '10%'
                },
                tooltip: {
                    padding: 10,
                    backgroundColor: '#222',
                    borderColor: '#777',
                    borderWidth: 1,
                    formatter: function (obj) {
                        var value = obj.value;
                        return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                            + obj.seriesName + ' ' + value[0] + '月：'
                            + '</div>'
                            + schema[1].text + '：' + value[1] + '<br>'
                            + schema[2].text + '：' + value[2] + '<br>'
                            + schema[3].text + '：' + value[3] + '<br>'
                            + schema[4].text + '：' + value[4] + '<br>'
                            + schema[5].text + '：' + value[5] + '<br>';
                        
                    }
                },
                xAxis: {
                    type: 'value',
                    name: '2016年月份',
                    nameGap: 16,
                    nameTextStyle: {
                        color: '#fff',
                        fontSize: 14
                    },
                    max: 5,
                    splitLine: {
                        show: false
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#eee'
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                    name: '工业增加值',
                    nameLocation: 'end',
                    nameGap: 20,
                    nameTextStyle: {
                        color: '#fff',
                        fontSize: 16
                    },
                    axisLine: {
                        lineStyle: {
                            color: '#eee'
                        }
                    },
                    splitLine: {
                        show: false
                    }
                },
                visualMap: [
                    {
                        left: 'right',
                        top: '10%',
                        dimension: 2,
                        min: 0,
                        max: 2500000,
                        itemWidth: 30,
                        itemHeight: 120,
                        calculable: true,
                        precision: 0.1,
                        text: ['圆形大小：资产总计'],
                        textGap: 30,
                        textStyle: {
                            color: '#fff'
                        },
                        inRange: {
                            symbolSize: [10, 70]
                        },
                        outOfRange: {
                            symbolSize: [10, 70],
                            color: ['rgba(255,255,255,.2)']
                        },
                        controller: {
                            inRange: {
                                color: ['#c23531']
                            },
                            outOfRange: {
                                color: ['#444']
                            }
                        }
                    },
                    {
                        left: 'right',
                        bottom: '5%',
                        dimension: 5,
                        min: 0,
                        max: 100000,
                        itemHeight: 120,
                        calculable: true,
                        precision: 0.1,
                        text: ['明暗：存货'],
                        textGap: 30,
                        textStyle: {
                            color: '#fff'
                        },
                        inRange: {
                            colorLightness: [1, 0.5]
                        },
                        outOfRange: {
                            color: ['rgba(255,255,255,.2)']
                        },
                        controller: {
                            inRange: {
                                color: ['#c23531']
                            },
                            outOfRange: {
                                color: ['#444']
                            }
                        }
                    }
                ],
                series: [
                    {
                        name: '贵阳市',
                        type: 'scatter',
                        itemStyle: itemStyle,
                        data: data["贵阳市"]
                    },
                    {
                        name: '六盘水',
                        type: 'scatter',
                        itemStyle: itemStyle,
                        data: data["六盘水"]
                    },
                    {
                        name: '遵义市',
                        type: 'scatter',
                        itemStyle: itemStyle,
                        data: data["遵义市"]
                    },
                     {
                         name: '安顺市',
                         type: 'scatter',
                         itemStyle: itemStyle,
                         data: data["安顺市"]
                     },
                    {
                        name: '毕节市',
                        type: 'scatter',
                        itemStyle: itemStyle,
                        data: data["毕节市"]
                    },
                    {
                        name: '铜仁市',
                        type: 'scatter',
                        itemStyle: itemStyle,
                        data: data["铜仁市"]
                    },
                     {
                         name: '黔西南',
                         type: 'scatter',
                         itemStyle: itemStyle,
                         data: data["黔西南"]
                     },
                    {
                        name: '黔东南',
                        type: 'scatter',
                        itemStyle: itemStyle,
                        data: data["黔东南"]
                    },
                    {
                        name: '黔南',
                        type: 'scatter',
                        itemStyle: itemStyle,
                        data: data["黔南"]
                    }
                ]
             };

             mychar0.setOption(option0);

        });
    });

    var mychar1 = echarts.init(document.getElementById("data-show-1"));
    $(function () {

        $.get("/api/IndustrycCassification/GetInfo", { dateInt: 2, regionId: 1 },
          function (data) {
              var info = $.parseJSON(data);
              var LegendData = info.LegendData
              var IndustrySalesOutput = info.IndustrySalesOutput
              var IndustryGrowthOutput = info.IndustryGrowthOutput
              var AssetsTotal = info.AssetsTotal
              var DebtTotal = info.DebtTotal
              var Income = info.Income
              var Stock = info.Stock

              //设置option
              var option = {
                  tooltip: {
                      trigger: 'item'
                  },
                  toolbox: {
                      show: true,
                      y: 'bottom',
                      feature: {
                          mark: { show: true },
                          dataView: { show: true, readOnly: false },
                          magicType: { show: true, type: ['line', 'bar', 'stack', 'tiled'] },
                          restore: { show: true },
                          saveAsImage: { show: true }
                      }
                  },
                  calculable: true,
                  legend: {
                      //行业名称
                      data: ['工业销售产值', '工业增加值', '资产总值', '负责合计', '主营收入', '存货']
                  },
                  xAxis: [
                      {
                          type: 'category',
                          splitLine: { show: false },
                          //值类型LegendData
                          data: LegendData
                      }
                  ],
                  yAxis: [
                      {
                          type: 'value',
                          position: 'right'
                      }
                  ],
                  series: [
                      {
                          name: '工业销售产值',
                          type: 'bar',
                          data: IndustrySalesOutput,
                        
                      },
                      {
                          name: '工业增加值',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          stack: '广告',
                          data: IndustryGrowthOutput,
                          },
                      {
                          name: '资产总值',
                          type: 'line',
                          tooltip: { trigger: 'axis' },
                          stack: '广告',
                          data: AssetsTotal
                      },
                      {
                          name: '负责合计',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          //stack: '广告',
                          data: DebtTotal
                      },
                      {
                          name: '主营收入',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          data: Income
                      },
                      {
                          name: '存货',
                          type: 'bar',
                          tooltip: { trigger: 'axis' },
                          //stack: '广告',
                          data: Stock
                      },

                      {
                          name: '工业销售产值',
                          type: 'pie',
                          tooltip: {
                              trigger: 'item',
                              formatter: '{a} <br/>{b} : {c} ({d}%)'
                          },
                          center: ["70%", 140],
                          radius: [0, 70],
                          itemStyle: {
                              normal: {
                                  labelLine: {
                                      length: 20
                                  }
                              }
                          },
                          data: [
                            { value: IndustrySalesOutput[0], name: '白酒' },
                            { value: IndustrySalesOutput[1], name: '化工' },
                            { value: IndustrySalesOutput[2], name: '有色' },
                            { value: IndustrySalesOutput[3], name: '冶金' },
                            { value: IndustrySalesOutput[4], name: '装备制造' },
                            { value: IndustrySalesOutput[5], name: '建材' },
                            { value: IndustrySalesOutput[6], name: '医药' },
                            { value: IndustrySalesOutput[7], name: '食品' },
                            { value: IndustrySalesOutput[8], name: '其他轻工业' },
                          ]
                      }
                  ]
              };

              mychar1.setOption(option);
          });
    })

    //请求民营规模以上的经济分行信息

    var mycharvs2 = echarts.init(document.getElementById("data-show-2-1"));
    var mycharvs22 = echarts.init(document.getElementById("data-show-2-2"));
    $(function () {
        $.get("/api/IndustrycCassification/GetInfoForRedView", { dateInt: 2, regionId: 3 },
            function (data) {
                var infoData = data["白酒"].Data;
                var infoRate = data["白酒"].Rate;
                optionvs2 = {
                    title: {
                        text: '规上民营部分数据',
                        left: 'center',
                        top: 20,
                        textStyle: {
                            color:"black"
                        }
                    },

                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },

                    visualMap: {
                        show: false,
                        min: 80,
                        max: 6000000,
                        inRange: {
                            colorLightness: [0.5, 1]
                        }
                    },
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: [
                               { value: infoData[0], name: '工业增加值'},
                               { value: infoData[1], name: '资产总计' },
                               { value: infoData[2], name: '负债合计' },
                               { value: infoData[3], name: '主营收入' },
                               { value: infoData[4], name: '存货总计' }
                            ].sort(function (a, b) { return a.value - b.value }),
                            //roseType: 'angle',
                            label: {
                                normal: {
                                    textStyle: {
                                        color: 'balck'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    lineStyle: {
                                        color: 'balck'
                                    },
                                    smooth: 0.2,
                                    length: 10,
                                    length2: 20
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#c23531',
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                mycharvs2.setOption(optionvs2);
                var optionshow22 = {
                    //backgroundColor: '#2c343c',
                    tooltip: {
                        show: true,
                        trigger: 'axis',
                        formatter: "{a} <br/>{b} : {c} ({d}%)",
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        //data: ['利润']
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            dataView: { show: true, readOnly: false },
                            magicType: { show: true, type: ['bar'] },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    calculable: true,
                    xAxis: [
                      
                        {
                            type: 'value',
                        }
                    ],
                    yAxis: [
                        {
                            name:'同期增长',
                            type: 'category',
                            axisTick: { show: false },
                            data: ['工业', '总计', '负债', '主营', '存货']

                        }
                    ],
                    series: [
                      
                        {
                            trigger: 'axis',
                            name: '对应同期增长率',
                            type: 'bar',
                            //itemStyle: {
                            //    normal: { label: { show: true ,position:'top'} }
                            //},
                            data: [infoRate[0], infoRate[1], infoRate[2], infoRate[3], infoRate[4]]
                        }
                    ]
                };
                mycharvs22.setOption(optionshow22);
            });
    })
   
   

  
   
</script>
@*//表格*@
<script type="text/javascript">
    var data = [
        {
            "name": "bootstrap-table",
            "stargazers_count": "526",
            "forks_count": "122",
            "description": "An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features. (supports twitter bootstrap v2 and v3) "
        },
        {
            "name": "multiple-select",
            "stargazers_count": "288",
            "forks_count": "150",
            "description": "A jQuery plugin to select multiple elements with checkboxes :)"
        },
        {
            "name": "bootstrap-show-password",
            "stargazers_count": "32",
            "forks_count": "11",
            "description": "Show/hide password plugin for twitter bootstrap."
        },
        {
            "name": "blog",
            "stargazers_count": "13",
            "forks_count": "4",
            "description": "my blog"
        },
        {
            "name": "scutech-redmine",
            "stargazers_count": "6",
            "forks_count": "3",
            "description": "Redmine notification tools for chrome extension."
        }
    ];
    $(function () {
        $('#table').bootstrapTable({
            data: data
        });
    });
    function commonFormatter(value) {
        return '<div data-field="' + this.field + '">' + value + '</div>';
    }
    window.commonEvents = {
        'click div': function (e) {
            alert('You click field: ' + $(e.target).attr('data-field'));
        }
    }
</script>
@*//雷达图*@
<script type="text/javascript">
    $(function() {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            // 获取已激活的标签页的名称
            var activeTab = $(e.target).text();
            //alert(activeTab);
            if (activeTab == '对比视图') {
                var mycharvs1 = echarts.init(document.getElementById("data-vs-1"));
                $.get("/api/IndustrycCassification/GetInfoForRadar", { dateIntTarget: 2, dateIntSource: 2, regionIdTarget: 5, regionIdSource: 6 },
                    function (data) {
                        var targetData = data["白酒"]["Target"];
                        var sourceData = data["白酒"]["Source"];
                        showRadar(targetData,sourceData)
                    });
                var chartMap = echarts.init(document.getElementById('data-vs-2'));
                $.get("/api/IndustrycCassification/GetInfoForMap", { dateInt: 1, classificationID: 3 },
                    function (data) {

                        showMap(data);

                    }
                    );
                function showRadar(targetData, sourceData) {
                    var optionvs1 = {
                        title: {
                            text: '基础雷达图'
                        },
                        tooltip: {},
                        legend: {
                            data: [targetData["Title"], sourceData["Title"]]
                        },
                        radar: {
                            // shape: 'circle',
                            indicator: [
                                { name: '工业增加值', max: 795530 },
                                { name: '资产总计', max: 2000000 },
                                { name: '负债合计', max: 1489069 },
                                { name: '主营业务收入', max: 276881 },
                                { name: '存货', max: 1583410 },
                            ]
                        },
                        series: [
                            {
                                name: targetData["Title"] + ' vs ' + sourceData["Title"],
                                type: 'radar',
                                // areaStyle: {normal: {}},
                                data: [
                                    {
                                        value: targetData.Data,
                                        name: targetData["Title"]
                                    },
                                    {
                                        value: sourceData.Data,
                                        name: sourceData.Title
                                    }
                                ]
                            }
                        ]
                    };
                    mycharvs1.setOption(optionvs1);
                }

                function showMap(data) {
                    optionMap = {
                        //backgroundColor: '#404a59',
                        roam: true,
                        title: {
                            text: '规以上的部分民营数据',
                            subtext: '贵州省-2月白酒',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a}</br>{b}:{c}'
                        },
                        legend: {
                            orient: 'vertical',
                            x: 'left',
                            data: data.LegendData,
                        },
                        dataRange: {
                            left: 'left',
                            min: 0,
                            max: 300000,
                            inRange: {
                                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                            },
                            text:['高','低'],           // 文本，默认为数值文本
                            calculable: true
                            //min: 0,
                            //max: 1000000,
                            //color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026'],
                            //text: ['高', '低'],           // 文本，默认为数值文本
                            //calculable: true，
                          
                        },
                        series: [
                            {
                                name: data.LegendData[0],
                                type: 'map',
                                mapType: '贵州',
                                selectedMode: 'single',
                                itemStyle: {
                                    normal: { label: { show: true } },
                                    emphasis: { label: { show: true } }
                                },
                                data: [
                                    { name: '贵阳市', value: data.IndustrySalesOutput[0] },
                                    { name: '六盘水市', value: data.IndustrySalesOutput[1] },
                                    { name: '遵义市', value: data.IndustrySalesOutput[2] },
                                    { name: '安顺市', value: data.IndustrySalesOutput[3] },
                                    { name: '毕节市', value: data.IndustrySalesOutput[4] },
                                    { name: '铜仁市', value: data.IndustrySalesOutput[5] },
                                    { name: '黔西南布依族苗族自治州', value: data.IndustrySalesOutput[6] },
                                    { name: '黔东南苗族侗族自治州', value: data.IndustrySalesOutput[7] },
                                    { name: '黔南布依族苗族自治州', value: data.IndustrySalesOutput[8] },
                                  
                                ]
                            },
                            {
                                name: data.LegendData[1],
                                type: 'map',
                                mapType: '贵州',
                                selectedMode: 'single',
                                itemStyle: {
                                    normal: { label: { show: true } },
                                    emphasis: { label: { show: true } }
                                },
                                data: [
                                    { name: '贵阳市', value: data.IndustryGrowthOutput[0] },//遵义市
                                    { name: '六盘水市', value: data.IndustryGrowthOutput[1] },
                                    { name: '遵义市', value: data.IndustryGrowthOutput[2] },
                                    { name: '安顺市', value: data.IndustryGrowthOutput[3] },
                                    { name: '毕节市', value: data.IndustryGrowthOutput[4] },
                                    { name: '铜仁市', value: data.IndustryGrowthOutput[5] },
                                    { name: '黔西南布依族苗族自治州', value: data.IndustryGrowthOutput[6] },
                                    { name: '黔东南苗族侗族自治州', value: data.IndustryGrowthOutput[7] },
                                    { name: '黔南布依族苗族自治州', value: data.IndustryGrowthOutput[8] },

                                ]
                            },
                            {
                             name: data.LegendData[2],
                             type: 'map',
                             mapType: '贵州',
                             selectedMode: 'single',
                             itemStyle: {
                                 normal: { label: { show: true } },
                                 emphasis: { label: { show: true } }
                             },
                             data: [
                                 { name: '贵阳市', value: data.AssetsTotal[0] },//遵义市
                                 { name: '六盘水市', value: data.AssetsTotal[1] },
                                 { name: '遵义市', value: data.AssetsTotal[2] },
                                 { name: '安顺市', value: data.AssetsTotal[3] },
                                 { name: '毕节市', value: data.AssetsTotal[4] },
                                 { name: '铜仁市', value: data.AssetsTotal[5] },
                                 { name: '黔西南布依族苗族自治州', value: data.AssetsTotal[6] },
                                 { name: '黔东南苗族侗族自治州', value: data.AssetsTotal[7] },
                                 { name: '黔南布依族苗族自治州', value: data.IndustrySalesOutput[8] },

                             ]
                         },
                            {
                              name: data.LegendData[3],
                              type: 'map',
                              mapType: '贵州',
                              selectedMode: 'single',
                              itemStyle: {
                                  normal: { label: { show: true } },
                                  emphasis: { label: { show: true } }
                              },
                              data: [
                                  { name: '贵阳市', value: data.DebtTotal[0] },
                                  { name: '六盘水市', value: data.DebtTotal[1] },
                                  { name: '遵义市', value: data.DebtTotal[2] },
                                  { name: '安顺市', value: data.DebtTotal[3] },
                                  { name: '毕节市', value: data.DebtTotal[4] },
                                  { name: '铜仁市', value: data.DebtTotal[5] },
                                  { name: '黔西南布依族苗族自治州', value: data.DebtTotal[6] },
                                  { name: '黔东南苗族侗族自治州', value: data.DebtTotal[7] },
                                  { name: '黔南布依族苗族自治州', value: data.DebtTotal[8] },

                              ]
                          },
                            {
                              name: data.LegendData[4],
                              type: 'map',
                              mapType: '贵州',
                              selectedMode: 'single',
                              itemStyle: {
                                  normal: { label: { show: true } },
                                  emphasis: { label: { show: true } }
                              },
                              data: [
                                  { name: '贵阳市', value: data.Income[0] },//遵义市
                                  { name: '六盘水市', value: data.Income[1] },
                                  { name: '遵义市', value: data.Income[2] },
                                  { name: '安顺市', value: data.Income[3] },
                                  { name: '毕节市', value: data.Income[4] },
                                  { name: '铜仁市', value: data.Income[5] },
                                  { name: '黔西南布依族苗族自治州', value: data.Income[6] },
                                  { name: '黔东南苗族侗族自治州', value: data.Income[7] },
                                  { name: '黔南布依族苗族自治州', value: data.Income[8] },

                              ]
                          },
                            {
                              name: data.LegendData[5],
                              type: 'map',
                              mapType: '贵州',
                              selectedMode: 'single',
                              itemStyle: {
                                  normal: { label: { show: true } },
                                  emphasis: { label: { show: true } }
                              },
                              data: [
                                  { name: '贵阳市', value: data.Stock[0] },//遵义市
                                  { name: '六盘水市', value: data.Stock[1] },
                                  { name: '遵义市', value: data.Stock[2] },
                                  { name: '安顺市', value: data.Stock[3] },
                                  { name: '毕节市', value: data.Stock[4] },
                                  { name: '铜仁市', value: data.Stock[5] },
                                  { name: '黔西南布依族苗族自治州', value: data.Stock[6] },
                                  { name: '黔东南苗族侗族自治州', value: data.Stock[7] },
                                  { name: '黔南布依族苗族自治州', value: data.Stock[8] },

                              ]
                           },
                        ]

                    };
                    chartMap.setOption(optionMap);
                }

                //$.get('../JsonData/guizhou.json', function (guizhouJson) {
                //    echarts.registerMap('guizhou', guizhouJson);
                //    var chart = echarts.init(document.getElementById('data-vs-2'));
                //    echarts.registerMap('guizhou', guizhouJson, {
                //    });
                //    chart.setOption({
                //        backgroundColor: '#404a59',
                //        geo: {
                //            map: 'guizhou',
                //            label: {
                //                emphasis: {
                //                    show: false
                //                }
                //            },
                //            roam: false,
                //            itemStyle: {
                //                normal: {
                //                    areaColor: '#323c48',
                //                    borderColor: '#428bca'
                //                },
                //                emphasis: {
                //                    areaColor: '#2a333d'
                //                }
                //            }
                //        },
                //    });
                //});
            }
        });
    });
</script>

<script type="text/javascript">
    var selectObject = function (id) {
        function add(option) {
            var select = document.getElementById(id);
            select.options.add(option);
        }
        function getSelectedValue() {
            var select = document.getElementById(id);
            return select.options[select.options.selectedIndex].value;
        }
        function getSelecteText() {
            var select = document.getElementById(id);
            return select.options[select.options.selectedIndex].text;
        }
    };
    //请求地区
    $(function () {
        $.ajax({
            url: "/api/Region/Get?id=5",
            dataType: "json",
            contentType: "application/json",
            async: true,
            type: "get",
            success: function (data) {
                var regionData = JSON.parse(data);
                var selectRegion1 = document.getElementById("select-region-1");
                var selectRegion2 = document.getElementById("select-region-2");
                for (var i = 0; i < regionData.length; i++) {
                    selectRegion1.options.add(new Option(regionData[i].Name, regionData[i].ID));
                    selectRegion2.options.add(new Option(regionData[i].Name, regionData[i].ID));
                }
            },
            error: function () {

            }
        });
    });

    //Common
    //请求地区
    $(function () {
        $.ajax({
            url: "/api/Common/GetDate",
            dataType: "json",
            contentType: "application/json",
            async: true,
            type: "get",
            success: function (data) {
                var dataType = JSON.parse(data);
                var selectDate1 = document.getElementById("select-data-1");
                var selectDate2 = document.getElementById("select-data-2");
                for (var i = 0; i < dataType.length; i++) {
                    selectDate1.options.add(new Option(dataType[i], i));
                    selectDate2.options.add(new Option(dataType[i], i));
                }
            },
            error: function () {

            }
        });
    });

    //启用/禁用选择项
    function checkClick() {
        $("#chk").click(function () {
            var isCheked = $("#chk").is(":checked");
            if (isCheked) {
                document.getElementById("select-region-2").removeAttribute("disabled");
                document.getElementById("select-data-2").removeAttribute("disabled");
            }
            else {
                document.getElementById("select-region-2").options[0].selected = true;
                document.getElementById("select-data-2").options[0].selected = true;
                document.getElementById("select-region-2").setAttribute("disabled", "disabled");
                document.getElementById("select-data-2").setAttribute("disabled", "disabled");
            }
        });
    }
    $(function () {
        checkClick();
        document.getElementById("select-region-2").setAttribute("disabled", "disabled");
        document.getElementById("select-data-2").setAttribute("disabled", "disabled");
    })

   
</script>