@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/signin.css" rel="stylesheet">
</head>
<body>
    <div class="signin">
        <div class="signin-head">
            @*<img src="~/Content/image/test/head_120.png" alt="" class="img-circle">*@
        </div>
        <form class="form-signin" role="form" action="Login1" method="post">
            <h1>贵州省民营经济 &nbsp;&nbsp;<small> 统计监测平台</small></h1>
            <input type="text" class="form-control" placeholder="用户名" required autofocus />
            <input type="password" class="form-control" placeholder="密码" required />
            <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </form>
    </div>
    <script>
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>




