
@{
    Layout = null;
}
<body>
    <table id="dg-NonPublicIndustry"></table>
    <div id="tbnpi">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true,text:'导出'"></a>
        <a href="#" id="removeNp" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true,text:'删除'"></a>
        <div class="pull-right" style="margin-right:40px">
            <input id="date-NonPublicIndustry" class="easyui-combobox"
                   data-options="buttonText:'月份',buttonAlign:'left',valueField:'value',textField:'text',url:'/NonPublicIndustry/Dates'" style="width:170px">
            <input id="region-NonPublicIndustry" class="easyui-combobox"
                   data-options="buttonText:'地区',buttonAlign:'left',valueField:'id',textField:'name',url:'/Region/GetAll'" style="width:170px;margin-right:2px">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true,text:'搜索'" onclick="seacherIndustryClassification()"></a>
        </div>
    </div>
    <script>
        $(function () {
            $("#dg-NonPublicIndustry").datagrid({
                url: "/NonPublicIndustry/GetPager",
                toolbar: '#tbnpi',
                striped: true,
                collapsible: true,
                width: "100%",
                height: "100%",
                fitColumn: false,
                showFooter: true,
                columns: [[
                    { field: 'ID', title: 'ID', checkbox: true },
                    { field: 'IndexName', title: '指标', width: '20% '},
                    { field: 'RegionName', title: '地区', width: '20% ' },
                    {
                        field: 'Date', title: '月份', width: '20% ',
                        formatter: function (value, row, index) {
                            return value.replace(/(\d{4}).(\d{1,2}).+/mg, '$1年$2月');
                        }
                    },
                    { field: 'PrivateEconomy', title: '民营经济', width: '10% ' },
                    { field: 'CapitalEconomy', title: '#私  营', width: '10% ' },
                    { field: 'GrowthRate', title: '同比增长', width: '20%' },
                 
                ]],
                pagination: true,
                pageList: [20, 40],
                pageSize: 20,
            });
        });
        //seacher 重新加载
        function seacherIndustryClassification(date, region) {
            debugger;
            $('#dg-NonPublicIndustry').datagrid('load', {
                date: $('#date-NonPublicIndustry').combobox('getValue'),
                region: $('#region-NonPublicIndustry').combobox('getValue')
            });
        }
        $("#removeNp").click(
            function () {
                debugger;
                var checkedRows = $('#dg-NonPublicIndustry').datagrid('getChecked');
                var ids = [];
                var indexs = [];
                $.each(checkedRows, function (index, value) {
                    ids.push(value["ID"]);
                    var index = $('#dg-NonPublicIndustry').datagrid('getRowIndex', value);
                    indexs.push(index);
                })
                if (ids) {
                    $.messager.confirm('确认', '您确认想要删除记录吗？', function (r) {
                        if (r) {
                            $.post("/NonPublicIndustry/Delete", { ids: ids }, function (data) {
                                $.each(indexs, function (index, value) {
                                    $('#dg-NonPublicIndustry').datagrid('deleteRow', index);
                                })
                            })
                        }
                    });
                }
        })
    </script>
</body>
