@{
    Layout = null;
}
<body>
    <div id="tbicu">
        <form enctype="multipart/form-data" id="form">
            <input class="easyui-filebox" name="file" id="file" style="width:250px" data-options="buttonText: '选择文件', buttonAlign: 'right'">
            <a id="btnUploadicu" href="#" class="easyui-linkbutton" data-options="">提 交</a>
            <div id="p-icu" style="width:100px;"></div>
        </form>
    </div>
    <table id="dg-IndustryClassificationUpload"></table>
    <script type="text/javascript">
        $("#dg-IndustryClassificationUpload").datagrid({
            url: "#",
            toolbar: '#tbicu',
            fitColumn: false,
            showFooter: true,
            frozenColumns: [[
                { field: 'ID', title: 'ID', checkbox: true },
                { field: 'RegionName', title: '地区', width: 50 },
                {
                    field: 'Date', title: '月份', width: 100,
                    formatter: function (value, row, index) {
                        return value.replace(/(\d{4}).(\d{1,2}).+/mg, '$1年$2月');
                    }
                },
            ]],
            columns: [[
                { field: 'ClassificationName', title: '行业', width: 50 },
                { field: 'IndustryOutput', title: '工业总产值', width: 100 },
                { field: 'IndustrySalesOutput', title: '工业销售产值', width: 100 },
                { field: 'IndustryGrowthOutput', title: '工业增加值', width: 100 },
                { field: 'IGO_GrowthRate', title: '同比增长', width: 100 },
                 //学生表的信息
                { field: 'AssetsTotal', title: '资产总计', width: 100 },
                { field: 'AT_GrowthRate', title: '同比增长', width: 100 },
                { field: 'DebtTotal', title: '负债合计', width: 100 },

                { field: 'DTG_GrowthRate', title: '同比增长', width: 100 },
                { field: 'Income', title: '主营业务收入', width: 100 },
                { field: 'Inc_GrowthRate', title: '同比增长', width: 100 },
                { field: 'ProfitsTotal', title: '利润总额', width: 100 },
                { field: 'Pro_GrowthRate', title: '同比增长', width: 100 },
                { field: 'VAT', title: '应交增值税', width: 100 },

                { field: 'VAT_GrowthRate', title: '同比增长', width: 80 },
                { field: 'ExpenceInterest', title: '利息支出', width: 100 },
                { field: 'EI_GrowthRate', title: '同比增长', width: 100 },
                { field: 'Stock', title: '存货', width: 100 },
                { field: 'St_GrowthRate', title: '同比增长', width: 100 },
            ]],
            //pagination: true,

        });


        $('#file').change(function () {
            debugger;
            var file = this.files[0];
            name = file.name;
            size = file.size;
            type = file.type;
            if (name.indexOf(".xlsx") < 0) {
                debugger;
                alert("请选择*.xlsx的EXCEL文件");
                $(this).val = null;
            }
        });

        $('#btnUploadicu').click(function () {
            var formData = new FormData($('form')[0]);
            $.ajax({
                url: '/IndustryClassificationUpload/Upload',  //server script to process data
                type: 'POST',
                xhr: function () {  // custom xhr
                    var xhr = jQuery.ajaxSettings.xhr();
                    //xhr.upload.onload = function () {
                    //    alert('finish downloading')
                    //}
                    xhr.upload.onprogress = function (ev) {
                        if (ev.lengthComputable) {
                            var percent = 100 * ev.loaded / ev.total;
                            $('#p-icu').progressbar({
                                value: percent,
                            });
                        }
                    }
                    return xhr;
                    //myXhr = $.ajaxSettings.xhr();
                    //if (myXhr.upload) { // check if upload property exists
                    //    myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // for handling the progress of the upload
                    //}
                    //return myXhr;
                },
                //Ajax事件
                //beforeSend: beforeSendHandler,
                success: completeHandlerICU,
                //error: errorHandler,
                // Form数据
                data: formData,
                //Options to tell JQuery not to process data or worry about content-type
                cache: false,
                contentType: false,
                processData: false
            });
        });

        function completeHandlerICU(data) {
            debugger;
            var jsonData = $.parseJSON(data)
            if (!jsonData.errors) {
                debugger;
                $("#dg-IndustryClassificationUpload").datagrid('loadData', jsonData.data);
            }
            else {
                debugger;
                var errors = null;
                $.each(jsonData.errors,function (i,val) {
                    errors+=val.ErrorMessage;
                })
                alert(errors);
            }
        }
        //function progressHandlingFunction(e) {
        //    if (e.lengthComputable) {
        //        $('progress').attr({ value: e.loaded, max: e.total });
        //    }
        //}
    </script>
</body>
