@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/easy-ui")
<div class="container">
    <table width="765" class="table table-bordered table-striped">
            <tbody>
                <tr class="firstRow">
                    <td width="553" colspan="4" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">2013</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">有工作量单</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">位数(个)</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">建筑业总产值（亿元）</span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">从业人员平均人数</span><span style="font-size:21px;font-family:宋体">(</span><span style="font-size:21px;font-family:宋体">人</span><span style="font-size:21px;font-family:宋体">)</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">总&nbsp;&nbsp;&nbsp; 计</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">485</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">273.47 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">122834</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp; </span><span style="font-size:21px;font-family:宋体">按登记注册类型分组</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">内资企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">485</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">273.47 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">122834</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp; #</span><span style="font-size:21px;font-family:宋体">联营企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">2</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">0.57 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">45</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他联营企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">2</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">0.57 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">45</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">有限责任公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">204</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">106.41 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">53961</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他有限责任公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">204</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">106.41 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">53961</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">股份有限公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">19</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">17.35 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">7744</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">167</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">85.36 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">32772</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营独资企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">4</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">1.04 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">288</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营合伙企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">2</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">0.73 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">390</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营有限责任公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">148</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">66.12 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">24293</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</span><span style="font-size:21px;font-family:宋体">私营股份有限公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">13</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">17.48 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">7801</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp; </span><span style="font-size:21px;font-family:宋体">按建筑业行业中类分组</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">房屋和土木工程建筑业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">353</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">252.69 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">112744</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">建筑安装业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">59</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">10.71 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">5644</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">建筑装饰业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">46</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">3.53 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">1707</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他建筑业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">27</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">6.54 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">2739</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp; </span><span style="font-size:21px;font-family:宋体">按企业资质等级分组</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">施工总承包</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">344</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">250.91 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">112066</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">一级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">9</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">46.43 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">11656</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">二级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">96</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">96.60 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">47695</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">三级及以下</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">239</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">107.88 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">52715</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">专业承包</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">141</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">22.56 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">10768</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">一级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">6</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">1.19 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">548</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">二级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">59</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">12.22 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">5623</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">三级及以下</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-size:21px;font-family:宋体">76</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">9.15 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px; word-break: break-all;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">4597</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>