@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/easy-ui")
<div class="container">
    <table width="765" class="table table-bordered table-striped">
            <tbody>
                <tr class="firstRow">
                    <td colspan="5" valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:center;vertical-align:middle">
                            <span style="font-size: 20px;font-family: 宋体">2015</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" valign="top" style="border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left-color: rgb(91, 155, 213);border-top: none;padding: 0 7px">
                        <p style="text-align:center">
                            <span style="font-size:20px;font-family:宋体">　指标</span>
                        </p>
                    </td>
                    <td rowspan="2" valign="top" style="border-top: none;border-right: none;border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:center;vertical-align:middle">
                            <span style="font-size: 20px;font-family: 宋体">民营经济</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td rowspan="2" valign="top" style="border-top: none;border-right: none;border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:center;vertical-align:middle">
                            <span style="font-size: 20px;font-family: 宋体">比上年增长（%）</span>
                        </p>
                    </td>
                    <td rowspan="2" valign="top" style="border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left-color: rgb(91, 155, 213);border-top: none;padding: 0 7px">
                        <p style="text-align:center;vertical-align:middle">
                            <span style="font-size: 20px;font-family: 宋体">占资质以上建筑业比重（%）</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:center">
                            <span style="font-size:20px;font-family:宋体">#</span><span style="font-size:20px;font-family:宋体">私营</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">一、基本情况</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px"></td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px"></td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">单位数（个）</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">611</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">250</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">5.7</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">82.3</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">二、生产经营情况</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px"></td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px"></td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">签订的合同额</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">765.18 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">271.45 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">16.4</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">15</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">建筑业总产值</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">450.43 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">168.69 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">19.8</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">23.1</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #</span><span style="font-size: 20px;font-family: 宋体">建筑工程</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">388.58 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">146.87 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">21</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">22.5</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">安装工程</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">38.44 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">11.20 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">20.7</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">31.5</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">其他</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">23.41 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">10.62 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">1.3</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">24.7</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">竣工产值</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">303.70 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">128.65 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">41.9</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">38.6</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">房屋施工面积（万平方米）</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">361.20 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">166.13 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">18</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">21.5</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #</span><span style="font-size: 20px;font-family: 宋体">新开工面积</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">185.76 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">76.17 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">10.6</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">34.1</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">三、财务状况</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px"></td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px"></td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">资产合计</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">412.89 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">158.70 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">17.2</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">15.8</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">负债合计</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">253.33 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">90.13 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">15.5</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">13.2</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">主营业务收入</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">372.96 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">136.24 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">17.2</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">20.5</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">主营业务成本</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">311.32 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">115.58 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">14.7</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">18.9</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">主营业务税金及附加</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">14.57 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">5.70 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">7.3</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">25.3</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="vertical-align: middle">
                            <span style="font-size: 20px;font-family: 宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 20px;font-family: 宋体">利润总额</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">12.92 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">5.67 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">5.5</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px; word-break: break-all;">
                        <p style="text-align:right;vertical-align:middle">
                            <span style="font-size: 20px">28.3</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>