@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/ThemesBusiness/Home.css" />
@Styles.Render("~/Content/ThemesEasyui/gray/easyui")
@Styles.Render("~/Content/ThemesEasyui/red/exeasyui")
<link rel="stylesheet" href="~/Content/ThemesFrame/common.css" />
<div class="container">
    <table width="765" class="table table-bordered table-striped">
            <tbody>
                <tr class="firstRow">
                    <td width="553" colspan="4" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">2014</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">有工作量单</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">位数(个)</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">建筑业总产值（亿元）</span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-size:21px;font-family:宋体">从业人员平均人数</span><span style="font-size:21px;font-family:宋体">(</span><span style="font-size:21px;font-family:宋体">人</span><span style="font-size:21px;font-family:宋体">)</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">总&nbsp;&nbsp;&nbsp; 计</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">578</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">376.05 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">163436</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp; </span><span style="font-size:21px;font-family:宋体">按登记注册类型分组</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">内资企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">578</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">376.05 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">163436</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp; #</span><span style="font-size:21px;font-family:宋体">联营企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">1</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">0.04 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">23</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他联营企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">1</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">0.04 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">23</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">有限责任公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">255</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">166.38 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">77389</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他有限责任公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">255</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">166.38 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">77389</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">股份有限公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">24</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">23.18 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">10789</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">222</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">128.91 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">49658</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营独资企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">1</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">0.93 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">221</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营合伙企业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营有限责任公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">206</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">108.38 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">42592</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营股份有限公司</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">15</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">19.60 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">6845</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp; </span><span style="font-size:21px;font-family:宋体">按建筑业行业中类分组</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">房屋和土木工程建筑业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">432</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">344.77 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">149416</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">建筑安装业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">67</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">15.05 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">7251</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">建筑装饰业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">50</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">7.62 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">3865</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他建筑业</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">29</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">8.61 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">2904</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp; </span><span style="font-size:21px;font-family:宋体">按企业资质等级分组</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">施工总承包</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">422</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">344.52 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">148100</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">一级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">10</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">37.34 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">12714</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">二级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">122</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">148.76 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">65714</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">三级及以下</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">290</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">158.42 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">69670</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">专业承包</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">156</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">31.53 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">15336</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">一级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">6</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">2.66 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">1466</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">二级</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">60</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">17.87 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">7638</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="182" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">三级及以下</span>
                        </p>
                    </td>
                    <td width="110" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">90</span>
                        </p>
                    </td>
                    <td width="106" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">11.00 </span>
                        </p>
                    </td>
                    <td width="154" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px; word-break: break-all;">
                        <p style="text-align:right;text-indent:21px">
                            <span style="font-size:21px;font-family:宋体">6232</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>