
@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/ThemesBusiness/Home.css" />
@Styles.Render("~/Content/ThemesEasyui/gray/easyui")
@Styles.Render("~/Content/ThemesEasyui/red/exeasyui")
<link rel="stylesheet" href="~/Content/ThemesFrame/common.css" />
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr style=";height:57px" class="firstRow">
                    <td width="553" colspan="6" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2015</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:57px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">企业个</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">数(个)</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">固定资</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">产原价</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">主营业</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">务收入</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">主营业务</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">税金及附加</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">利润总额</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">餐饮业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">376</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">146141.1</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">218295.6</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10876.1</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10229.2</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 按登记注册类型分组</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 内资企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">376</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">146141.1</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">218295.6</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10876.1</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10229.2</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp; #集体企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">656.2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">228</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">13.4</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">-13.4</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp; #股份合作企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">268.8</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">893.2</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">35.1</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">56.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">79</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">32381.9</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">66981.2</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3289.5</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">4810.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 其他有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">79</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">32381.9</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">66981.2</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3289.5</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">4810.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 股份有限公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">642.7</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">5201.4</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">191.9</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1539.4</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">287</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">110717.2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">142288.7</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">7170</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3517.9</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营独资企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">97</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">16054.5</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">33798.5</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1969</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2304.6</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营合伙企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">7</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">5554.2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">8570.2</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">274.4</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1139.4</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">177</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">70414.2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">95898.3</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">4732.9</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">616.8</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营股份有限公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">6</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">18694.3</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">4021.7</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">193.7</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">-542.9</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 其他企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">5</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1474.3</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2703.1</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">176.2</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">317.9</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 按餐饮行业分组</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 正餐服务</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">368</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">145184</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">213679.8</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10733</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10168.1</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 快餐服务</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">568.6</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1814.3</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">85.9</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">26.1</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 饮料及冷饮服务</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2.3</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">551.7</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">27.8</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">-31.5</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 其他餐饮服务业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">4</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">386.2</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2249.8</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">29.4</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">66.5</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>