
@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/easy-ui")
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr style=";height:57px" class="firstRow">
                    <td width="553" colspan="6" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2014</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:57px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">企业个</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">数(个)</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">固定资</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">产原价</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">主营业</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">务收入</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">主营业务</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">税金及附加</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">利润总额</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">餐饮业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">371</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">150743</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">197587</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10100</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3575.1</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 按登记注册类型分组</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 内资企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">371</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">150743</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">197587</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">10100</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3575.1</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; #集体企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">656</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">214</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">12</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">-64.9</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp; #股份合作企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">269</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">268</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">15</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">14.6</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">101</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">43214</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">65502</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3205</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1385.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 其他有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">101</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">43214</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">65502</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3205</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1385.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 股份有限公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">631</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">5538</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">314</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">999.8</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">257</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">104382</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">122042</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">6336</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1224.6</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营独资企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">87</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">13811</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">26325</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1348</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2018.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营合伙企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">12</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">7985</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">9083</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">374</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1088.4</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">152</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">67943</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">83495</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">4389</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">-1685.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营股份有限公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">6</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">14643</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3139</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">226</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">-196.8</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 其他企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">8</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1591</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">4023</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">217</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">15.3</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 按餐饮行业分组</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 正餐服务</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">362</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">149083</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">194081</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">9938</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3462.6</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 快餐服务</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">569</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">1951</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">115</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">-22</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 饮料及冷饮服务</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">818</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">700</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">32</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">66.4</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:40px">
                    <td width="181" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 其他餐饮服务业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">3</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">273</span>
                        </p>
                    </td>
                    <td width="74" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">856</span>
                        </p>
                    </td>
                    <td width="76" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">15</span>
                        </p>
                    </td>
                    <td width="72" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">68.1</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>