@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<div class="container">
    <table width="765" class="table table-bordered table-striped">
        <tbody>
            <tr style=";height:62px" class="firstRow">
                <td width="198" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                <td width="387" colspan="2" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:24px;font-family:宋体">2013</span><span style="font-size:24px;font-family:宋体">年</span>
                    </p>
                </td>
            </tr>
            <tr style=";height:103px">
                <td width="198" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                <td width="124" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:24px;font-family:宋体">民营经济</span>
                    </p>
                    <p style="text-align:center">
                        <span style="font-size:24px;font-family:宋体">增加值</span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:24px;font-family:宋体">民营经济增加值占全省生产总值比重（%）</span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">合计</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">3457.8 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">43.2 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp; </span><span style="font-size:   24px;font-family:宋体">第一产业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">518.7 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">50.4 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp; </span><span style="font-size:   24px;font-family:宋体">第二产业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">1485.8 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">45.8 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">工&nbsp; 业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">1376.9 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">51.3 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">建筑业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">109.0 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">19.6 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp; </span><span style="font-size:   24px;font-family:宋体">第三产业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">1453.2 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">38.9 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">交通运输、仓储和邮政业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">439.1 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">56.6 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">批发和零售业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">258.0 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">44.3 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">住宿和餐饮业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">273.4 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">92.7 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">金融业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">77.7 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">17.9 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">房地产业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">82.2 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">40.5 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:53px">
                <td width="198" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                    <p>
                        <span style="font-size:24px;font-family:宋体">&nbsp;&nbsp;&nbsp; </span><span style="font-size:   24px;font-family:宋体">其他服务业</span>
                    </p>
                </td>
                <td width="124" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">323.0 </span>
                    </p>
                </td>
                <td width="264" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                    <p style="text-align:right">
                        <span style="font-size:24px;font-family:宋体">22.3</span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>