@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/ThemesBusiness/Home.css" />
@Styles.Render("~/Content/ThemesEasyui/gray/easyui")
@Styles.Render("~/Content/ThemesEasyui/red/exeasyui")
<link rel="stylesheet" href="~/Content/ThemesFrame/common.css" />
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr style=";height:28px" class="firstRow">
                    <td width="541" colspan="5" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2013</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:28px">
                    <td width="190" rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2013年（单位亿，口径500万）</span>
                        </p>
                    </td>
                    <td width="88" rowspan="2" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">民营</span>
                        </p>
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">经济</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" rowspan="2" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">比上年同期增长（%）</span>
                        </p>
                    </td>
                    <td width="88" rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">占规模以上工业比重（%）</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:30px">
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">私 营</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">一、基本情况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单位数（个）</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4369 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2556 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">13.5 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">85.6 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #亏损企业&nbsp; </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1090 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">620 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">11.0 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">82.0 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">二、生产经营情况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业总产值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">5258.2 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2628.0 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">58.1 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业销售产值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4963.3 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2519.0 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">37.7 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">57.8 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #出口交货值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">42.0 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">10.4 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">23.9 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">38.1 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业增加值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1545.3</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">853.9</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">29.9 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">54.2 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">三、财务状况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;资产合计</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4042.2 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2007.4</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">22.6 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">37.8 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 负债合计</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2442.5 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1200.0</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">23.0 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">36.0 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务收入</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4122.7 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1990.8</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">33.1 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">53.0 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务成本</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">3381.7 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1584.1</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">37.5 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">56.1 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务税金及附加</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">70.4 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">44.9</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">19.3 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">23.4 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 利润总额</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">205.3 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">114.8</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">10.2 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">40.6 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #亏损企业亏损额&nbsp; </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">74.4 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">36.6</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">35.1 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">50.1 </span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <br />
        </p>
</div>

