@{
    Layout = null;
}
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr style=";height:28px" class="firstRow">
                    <td width="541" colspan="5" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2015</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:28px">
                    <td width="190" rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2015年（单位亿，口径500万）</span>
                        </p>
                    </td>
                    <td width="88" rowspan="2" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">民营</span>
                        </p>
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">经济</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" rowspan="2" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">比上年同期增长（%）</span>
                        </p>
                    </td>
                    <td width="88" rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">占规模以上工业比重（%）</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:30px">
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">私 营</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">一、基本情况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单位数（个）</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">5275 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">3219 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4.1 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">87.3 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #亏损企业&nbsp; </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">996 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">二、生产经营情况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业总产值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px; word-break: break-all;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">7024 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">3573 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">59.8 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业销售产值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">6829 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">3512 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">60.2 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #出口交货值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">26 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">11 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">17.5 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业增加值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2061 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1086 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">12.3 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">55.0 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">三、财务状况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 资产合计</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4913 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2426 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">10.5 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">37.9 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 负债合计</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2868 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1409 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">11.9 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">34.7 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务收入</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">5708 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2921 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">8.1 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">58.4 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务成本</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4833 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2473 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">9.5 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">61.1 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务税金及附加</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">220 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">188 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">157.3 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">45.5 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 利润总额</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">281 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">147 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">9.2 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">45.2 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #亏损企业亏损额&nbsp; </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">53 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">28 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">-6.7 </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">38.4 </span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <br />
        </p>
</div>

