
@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/ThemesBusiness/Home.css" />
@Styles.Render("~/Content/ThemesEasyui/gray/easyui")
@Styles.Render("~/Content/ThemesEasyui/red/exeasyui")
<link rel="stylesheet" href="~/Content/ThemesFrame/common.css" />
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr style=";height:28px" class="firstRow">
                    <td width="541" colspan="5" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2014</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:28px">
                    <td width="190" rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2014年（单位亿，口径500万）</span>
                        </p>
                    </td>
                    <td width="88" rowspan="2" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">民营</span>
                        </p>
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">经济</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" rowspan="2" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">比上年同期增长（%）</span>
                        </p>
                    </td>
                    <td width="88" rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">占规模以上工业比重（%）</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:30px">
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">私 营</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">一、基本情况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单位数（个）</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">5068</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2888</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">16.0</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">86.7</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;#亏损企业&nbsp; </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1044</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">602</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">-4.0</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">81.2</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">二、生产经营情况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业总产值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">6657.1</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">3270.5</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">59.5 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业销售产值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">6414.2</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">3182.6</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">29.2</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">60.1 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #出口交货值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">26.5</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4.8</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">-36.9</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">18.1 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业增加值</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1993.3</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1054.2</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">24.9</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">55.4 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">三、财务状况</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 资产合计</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4447.3</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2179.3</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">21.3</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">36.7 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 负债合计</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2563.4</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">1285.0</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">18.8</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">33.2 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务收入</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">5278.5</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2531.2</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">30.2</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">57.0 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务成本</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4413.1</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2093.8</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">32.7</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">59.5 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主营业务税金及附加</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">85.5</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">53.6</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">23.7</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">25.6 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 利润总额</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">257.5</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">131.7</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">21.6</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">45.3 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:43px">
                    <td width="190" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #亏损企业亏损额&nbsp; </span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">57.3</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">31.3</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">-6.6</span>
                        </p>
                    </td>
                    <td width="88" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">37.2</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
