@{
    Layout = null;
}
<div class="container">
    <table  class="table table-bordered table-striped">
        <tbody>
            <tr style=";height:93px" class="firstRow">
                <td colspan="4" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <strong><span style="font-size:35px;font-family:宋体">2014</span></strong>
                    </p>
                </td>
            </tr>
            <tr style=";height:93px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">民营经济固定资产投资额</span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">比上年同期增长（%）</span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">占全省固定资产投资比重（%）</span>
                    </p>
                </td>
            </tr>
            <tr style=";height:82px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">合计</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">4145.8 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">19.9 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">47.2 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">一、按登记注册类型分</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">私营</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">1840.5 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">32.9 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">100.0 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">集体</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">22.0 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">-2.8 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">100.0 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">股份合作</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">23.3 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">12.5 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">100.0 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">集体联营</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">1.3 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">-73.5 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">100.0 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他联营</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">3.2 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">121.1 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">100.0 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他有限责任公司</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">1851.4 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">15.3 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">87.3 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">股份有限公司</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">198.3 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">7.9 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">77.7 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他内资</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">172.5 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">-6.4 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">100.0 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">个体经营</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">33.4 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">-33.8 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">100.0 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">二、按行业分</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">第一产业</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">152.8 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">35.1 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">87.9 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">第二产业</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">1495.8 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">19.9 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">64.4 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">工&nbsp; 业</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">1493.6 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">20.2 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">63.9 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">建筑业</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">2.2 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">-57.8 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">23.3 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">第三产业</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">2497.2 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">19.0 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">39.7 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">交通运输、仓储和邮政业</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">39.9 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">-1.4 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">2.3 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">批发和零售业</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">84.7 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">63.7 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">82.8 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">住宿和餐饮业</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">62.0 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">18.1 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">72.8 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">金融业 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">4.3 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">45.7 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">78.2 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">房地产业</span>
                    </p>
                </td>
                <td valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">2004.2 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">15.2 </span>
                    </p>
                </td>
                <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">77.7 </span>
                    </p>
                </td>
            </tr>
            <tr style=";height:30px">
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:21px;font-family:宋体">其他服务业</span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">302.1 </span>
                    </p>
                </td>
                <td valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">43.4 </span>
                    </p>
                </td>
                <td valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                    <p style="text-align:center">
                        <span style="font-size:21px;font-family:宋体">18.1 </span>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>