@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/easy-ui")
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr class="firstRow">
                    <td colspan="4" valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2013</span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr style=";height:21px">
                    <td rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">　（单位亿）</span>
                        </p>
                    </td>
                    <td rowspan="2" valign="top" style="border-top: none; border-right: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">民营经济</span>
                        </p>
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">国税收入</span>
                        </p>
                    </td>
                    <td rowspan="2" valign="top" style="border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left-color: rgb(91, 155, 213); border-top: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">比上年</span>
                        </p>
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">增长（%）</span>
                        </p>
                    </td>
                    <td rowspan="2" valign="top" style="border-top: none; border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">占全省国税收入比重（％）</span>
                        </p>
                    </td>
                    <td style="border-width: initial; border-style: none; border-color: initial;" width="0"></td>
                </tr>
                <tr style=";height:21px">
                    <td style="border-width: initial; border-style: none; border-color: initial;" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;总 计</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">204.4 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1.5 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">28.0 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">一、按税种分</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px"></td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px"></td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; #增值税</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">152.5 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">3.4 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">41.3 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 企业所得税</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">47.1 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-3.2 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">38.5 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 消费税</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">4.8 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-8.3 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px; word-break: break-all;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">2.5 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">二、按登记注册类型分</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px"></td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px"></td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; （一）民营企业合计</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">191.0 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">0.5 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">28.1 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 私营企业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">52.6 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-10.7 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">99.2 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 集体企业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">6.3 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-28.4 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">97.0 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 股份合作企业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">6.5 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-27.2 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">91.4 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 联营企业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">0.3 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">4.9 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">72.8 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 股份公司</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">121.7 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">10.8 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">24.3 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 其他内资企业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">3.6 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">12.6 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">3.2 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; （二）个体经营户</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">13.3 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">17.7 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">26.2 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">三、按行业分</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px"></td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 第一产业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px"></td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px"></td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px"></td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 第二产业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">113.7 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-2.6 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">24.8 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 工业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">113.2 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-2.2 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">24.9 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 建筑业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: initial;border-style: none;border-color: initial;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">0.4 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-left-width: 1px;border-left-color: rgb(91, 155, 213);border-bottom: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">-54.4 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top: none;border-bottom: none;border-left: none;border-right-width: 1px;border-right-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">11.9 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
                <tr>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 第三产业</span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-top-color: rgb(91, 155, 213);border-left: none;border-bottom-width: 1px;border-bottom-color: rgb(91, 155, 213);border-right: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">85.7 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-width: 1px;border-color: rgb(91, 155, 213);padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1.6 </span>
                        </p>
                    </td>
                    <td valign="top" style="border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-top-color: rgb(91, 155, 213);border-right-color: rgb(91, 155, 213);border-bottom-color: rgb(91, 155, 213);border-left: none;padding: 0 7px">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">31.9 </span>
                        </p>
                    </td>
                    <td style="border-width: initial;border-style: none;border-color: initial" width="0"></td>
                </tr>
            </tbody>
        </table>
     
</div>
