
@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="~/Content/ThemesBusiness/Home.css" />
@Styles.Render("~/Content/ThemesEasyui/gray/easyui")
@Styles.Render("~/Content/ThemesEasyui/red/exeasyui")
<link rel="stylesheet" href="~/Content/ThemesFrame/common.css" />
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr style=";height:57px" class="firstRow">
                    <td width="563" colspan="6" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2015</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:57px">
                    <td width="186" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2011年度</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2012年度</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2013年度</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2014年度</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">2015年度</span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;总 计</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">195.44 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">201.34 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">204.35 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">230.96 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">238.62 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">一、按税种分</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; #增值税</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">146.41 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">147.51 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">152.50 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">162.60 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">152.98 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 营业税</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.00 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.00 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.00 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.00 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.00 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 企业所得税</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">44.98 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">48.61 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">47.08 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">63.17 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">81.22 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 消费税</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4.05 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">5.21 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4.78 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">5.20 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">4.41 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">三、按行业分</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;第二产业</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">115.78 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">116.75 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">113.67 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">117.36 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">91.28 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 工业</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">115.01 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">115.77 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">113.23 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">116.80 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">90.58 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp; 建筑业</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.77 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.98 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.45 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.56 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">0.70 </span>
                        </p>
                    </td>
                </tr>
                <tr style=";height:34px">
                    <td width="186" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 第三产业</span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">74.11 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">43.98 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">85.68 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">106.62 </span>
                        </p>
                    </td>
                    <td width="75" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:center;line-height:16px">
                            <span style="font-family: 宋体; font-size: 24px;">147.08</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
