@{
    Layout = null;
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/easy-ui")
<div class="container">
    <table class="table table-bordered table-striped">
            <tbody>
                <tr class="firstRow">
                    <td width="553" colspan="6" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">2013</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">企业个</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">数(个)</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">固定资</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">产原价</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">主营业</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">务收入</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">主营业务税金及附加</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">利润</span>
                        </p>
                        <p style="text-align:center">
                            <span style="font-family: 宋体; font-size: 24px;">总额</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">批发业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">551</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">210032</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">9501278</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">34927</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">159072</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 按登记注册类型分组</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;"></td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 内资企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">551</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">210032</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">9501278</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">34927</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">159072</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp; #集体企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">23</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">16012</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">88901</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1181</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">391</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 股份合作企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">246</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1950</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">11</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">5</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">349</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">135473</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">5846233</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">15883</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">36652</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 其他有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">349</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">135473</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">5846233</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">15883</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">36652</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 股份有限公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">21</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">27659</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">2338460</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">14718</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">113133</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">156</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">30461</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1223233</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">3133</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">8865</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营独资企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">3</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">53</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">15077</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">302</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">11</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营合伙企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营有限责任公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">143</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">29224</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1141916</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px; word-break: break-all;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">2591</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">8786</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 私营股份有限公司</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">10</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1184</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">66240</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">240</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">68</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 其他企业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">181</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">2502</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">2</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">27</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp; 按批发行业分组</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;"></td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 农畜产品批发业</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">9</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1309</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">32749</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">120</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">453</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 食品、饮料及烟草制品批发</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">72</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">34846</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">648786</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">4222</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">25356</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 纺织、服装及日用品批发</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">30</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">4370</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">297198</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">712</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">2159</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 文化、体育用品及器材批发</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">6</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1514</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">20340</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">42</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">35</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 医药及医疗器材批发</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">52</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">26701</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">853330</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">2384</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">11105</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 矿产品、建材及化工产品批发</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">309</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">116759</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">6846612</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">26018</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">118834</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 机械设备、五金交电及电子产品批发</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">63</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">16510</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-width: initial; border-style: none; border-color: initial; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">744228</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-top: none; border-left-width: 1px; border-left-color: rgb(91, 155, 213); border-bottom: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">987</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top: none; border-bottom: none; border-left: none; border-right-width: 1px; border-right-color: rgb(91, 155, 213); padding: 0px 7px;"></td>
                </tr>
                <tr>
                    <td width="170" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p>
                            <span style="font-family: 宋体; font-size: 24px;">&nbsp;&nbsp;&nbsp; 其他批发</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">10</span>
                        </p>
                    </td>
                    <td width="85" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">8024</span>
                        </p>
                    </td>
                    <td width="56" valign="top" style="border-top-width: 1px; border-top-color: rgb(91, 155, 213); border-left: none; border-bottom-width: 1px; border-bottom-color: rgb(91, 155, 213); border-right: none; padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">58036</span>
                        </p>
                    </td>
                    <td width="116" valign="top" style="border-width: 1px; border-color: rgb(91, 155, 213); padding: 0px 7px;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">443</span>
                        </p>
                    </td>
                    <td width="50" valign="top" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-color: rgb(91, 155, 213); border-right-color: rgb(91, 155, 213); border-bottom-color: rgb(91, 155, 213); border-left: none; padding: 0px 7px; word-break: break-all;">
                        <p style="text-align:right">
                            <span style="font-family: 宋体; font-size: 24px;">1646</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
