body {
	/*background:url(../Content/image/login_bg_0.jpg) #f8f6e9;*/
}


.signin-head {
	margin:0 auto;
	padding-top:0px;
	width:120px;
}
.form-signin {
  font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  max-width: 330px;
  padding: 23px 15px 15px 15px;
  margin: 0 auto;
  border :solid 1px red;
  position:absolute;
	top:55%;
	left:85%;
	margin-top:-239px;
	margin-left:-238px;
    background-color:#eeeeee;
   border :solid 1px #95B8E7;
}
h1{
    font-weight:bold;
}
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 14px;
  border-radius: 0;
  background: url(../Content/image/login_user.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  background: url(../Content/image/login_pas.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-signin button {
  border-radius: 0;
  width:93%
}