.grid-header-sortable {
    cursor:pointer;
    text-decoration:underline
}

.grid-toolbar-panel {
    background-color:#F4F4F4;
    overflow:hidden;
    height:40px;
}

.grid-toolbar-button {
    height:24px;
    margin-left:15px;
    margin-top:6px;
    margin-bottom:8px;
}

.grid-cell-percent {
    background:#FF4621;
    text-align:left;
}

.grid-chart-gragh {
    width:95%; 
    padding-right:5%; 
    position:absolute; 
    top:100px; 
    bottom:35px; 
    background-color:#FFFFFF; 
    text-align:center; 
    vertical-align:middle; 
    display:none
}