@*@{
    Layout = "~/Views/Shared/_LayoutEasyui.cshtml";
   
}*@
<div class="jumbotron">
    <h1>贵州省民营经济统计信息平台</h1>
    <p class="lead">贵州省民营经济统计信息平台是一个..............</p>
    <p></p>
    <hr>
    <div class="row">
        <div class="col-md-3 breadcrumb" style="border:solid 5px #eee;background-color:white">
            <h2>经济概况</h2>
            <p>民营经济.....</p>
            <p><a class="btn btn-primary btn-lg" href="/Summary/List" target="_blank">进入 &raquo;</a></p>
        </div>
        <div class="col-md-3 breadcrumb"style="border:solid 5px #eee;background-color:white">
            <h2>数据资料</h2>
            <p>
               	总量指标包含增加...
            </p>
            <p><a class="btn btn-primary btn-lg" href="/Data/List" target="_blank">进入 &raquo;</a></p>
        </div>
        @*<div class="col-md-3 breadcrumb" style="border:solid 5px #eee;background-color:white">
            <h2>数据查询</h2>
            <p>根据日期，地区..</p>
            <p><a class="btn btn-primary btn-lg" href="#">进入 &raquo;</a></p>
        </div>
        <div class="col-md-3 breadcrumb"style="border:solid 5px #eee;background-color:white">
            <h2>数据报表</h2>
            <p>可视化的精美报表..</p>
            <p><a class="btn btn-primary btn-lg" href="#">进入 &raquo;</a></p>
        </div>*@
        @*<div class="col-md-3 breadcrumb"style="border:solid 5px #eee;background-color:white">
            <h2>数据导入</h2>
            <p>数据导入..</p>
            <p><a class="btn btn-primary btn-lg" href="#">进入 &raquo;</a></p>
        </div>*@
    </div>
</div>

