@{
    Layout = "~/Views/Shared/_LayoutEasyui.cshtml";
   
}
<div class="jumbotron">
    <h1>贵州省民营经济统计监测平台</h1>
    <p class="lead">贵州省民营经济统计监测平台是一个..............</p>
    <p><a href="#" class="btn btn-primary btn-lg">更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>查询</h2>
        <p>
            根据地区，日期，类别查询
        </p>
        <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>报表</h2>
        <p>可视化的精美报表</p>
        <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>数据导入</h2>
        <p>数据导入</p>
        <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
    </div>
</div>