@{
    Layout = null;
}
<div class="container">
    <div class="jumbotron">
        <h1>2014年民营经济发展运行情况综述</h1>
        <p style="text-indent:2em" class="lead">
            2014年，全省各地大力发展民营经济，积极实施民营经济三年倍增、五年行动计划，全省民营经济继续保持较快发展势头。
        </p>
    </div>

    <div class="jumbotron">
        <h2 style="font-weight:bold">一、民营经济总量扩大，比重继续提高  </h2>
        <p style="text-indent:2em" class="lead">
            全省民营经济实现增加值4275.4亿元，比上年增加了817.6亿元，占全省生产总值比重为46.1%，比上年增加了2.9个百分点。
        </p>

        <p style="text-indent:2em" class="lead">
            第一、二、三产业增加值655.3亿元、2010.3亿元、1609.7亿元，占全省三次产业生产总值的比重分别为51.2%、52.1%、39.0%。
        </p>
        <p style="text-indent:2em" class="lead">
            全省有民营企业13.45万户，从业人员245.50万人，资产总计23871.78亿元，分别比上年增长75.5%、41.7%、105.9%，占全省全部生产经营企业的比重分别为95.5%、68.4%、35.6%；个体经营户128.00万户，从业人员220.81万人，资产总计657.60亿元，分别比上年增长20.7%、19.3%、38.5%。
        </p>
    </div>


    <div class="jumbotron">
        <h2 style="font-weight:bold">二、2014年全省民营经济发展具有以下特点</h2>
        <h3>1、民营经济投资增速趋稳  </h3>
        <p style="text-indent:2em" class="lead">
            2014年，全省计划总投资500万元及以上的民营经济单位固定资产投资4145.8亿元，比上年增长19.9%，占全省固定资产投资的比重达47.2%；其中，私营企业投资额1840.5亿元，比上年增长32.9%；其他有限责任公司投资额1851.4亿元，比上年增长15.3%。
        </p>
        <hr style="border-top: 1px solid #808080">
        <h3 style="font-weight:bold">
            2、民营工业发展快速，但环比增速有所下降
        </h3>
        <p style="text-indent:2em" class="lead">
            2014年，全省规模以上民营工业企业5068个，比上年增长16.0%，占全省规模以上工业单位数的比重达86.7%；民营工业增加值1993.3亿元，比上年增长24.9%，增速比上年下降5个百分点。增加值占全省规模以上工业的比重55.4%；全年主营业务收入5278.5亿元，比上年增长30.2%；利润总额257.5亿元，比上年增长21.6%。
        </p>
        <p style="text-indent:2em" class="lead">
            煤炭行业实现总产值1593.05亿元，增加值668.07亿元，同比增长13.9%；电力行业总产值27.81亿元，增加值9.99亿元，同比增长42.8%；建材行业总产值875.37亿元，增加值182.44亿元，同比增长40.5%；食品行业总产值539.79亿元，增加值136.39亿元，同比增长29.8%；医药行业总产值333.64亿元，增加值80.14亿元，同比增长12.6%。
        </p>
        <hr style="border-top: 1px solid #808080">
        <h3 style="font-weight:bold">
            3、民营建筑业发展迅速
        </h3>
        <p style="text-indent:2em" class="lead">
            2014年，全省资质以上民营建筑有工作量单位578个，建筑业总产值376.05亿元,比上年增长37.5%。
        </p>
        <hr style="border-top: 1px solid #808080">
        <h3 style="font-weight:bold">4、贸经行业数量增长较快，但收入、利润同比下降  </h3>
        <p style="text-indent:2em" class="lead">
            2014年，全省限额以上民营批发单位624个，主营业务收入693.20亿元，实现利润4.04亿元，分别比上年增长13.2%、-27.0%、-74.6%。
        </p>

        <p style="text-indent:2em" class="lead">
            全省限额以上民营零售单位1327个，主营业务收入727.50亿元，利润总额9.61亿元，分别比上年增长21.5%、-22.7%、-78.7%。
        </p>
        <p style="text-indent:2em" class="lead">
            全省限额以上民营住宿单位341个，主营业务收入32.94亿元，分别比上年增长33.2%、29.8%。全年限额以上住宿单位企业利润总额-0.88亿元，上年同期利润总额为171万元。

        </p>
        <p style="text-indent:2em" class="lead">
            全省限额以上民营餐饮单位371个，主营业务收入19.76亿元。分别比上年增长27.9%、1.2%。全年限额以上住宿单位企业利润总额0.36亿元，上年同期利润总额为-0.30亿元。
        </p>
        <hr style="border-top: 1px solid #808080">
        <h3 style="font-weight:bold">5、民营单位国税收入恢复增长，比重较上年略有上升   </h3>
        <p style="text-indent:2em" class="lead">
            2014年，全省民营生产经营单位上缴国税231.0亿元，比上年增长13.0%， 占全部国税收入的比重为28.7%；其中民营企业上缴国税213.2亿元，比上年增长11.6%；个体经营户上缴国税17.8亿元，比上年增长33.4%。
        </p>
        <hr style="border-top: 1px solid #808080">
    </div>

</div>
