@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body style="background-color:#393D49;">
    <div class="container" >

        <div class="jumbotron">
            <h1>2013年民营经济发展运行情况综述</h1>
            <p style="text-indent:2em" class="lead">2013年，全省各地大力发展民营经济，积极实施民营经济三年倍增计划，加大县域经济和特色优势产业的培育力度，民营经济发展跃上新台阶。</p>
        </div>

        <div class="jumbotron">
            <h2 style="font-weight:bold">一、民营经济总量扩大，比重提高 </h2>
            <p style="text-indent:2em" class="lead">
                全省民营经济增加值3457.8亿元，比上年增加了717.3亿元，占全省生产总值比重为43.2%，比上年提高了2.9个百分点。
            </p>

            <p style="text-indent:2em" class="lead">
                第一、二、三产业增加值518.7亿元、1485.8亿元、1453.2亿元，占全省三次产业生产总值的比重分别为50.4%、45.8%、38.9%。
            </p>
            <p style="text-indent:2em" class="lead">
                2013年末全省民营企业7.66万户，从业人员173.23万人，资产总计11592.20亿元，分别比上年增长21.7%、13.2%、41.9%，占全省全部生产经营企业的比重分别为92.3%、63.9%、34.4%；个体经营户106.06万户，从业人员185.16万人，资产总计474.94亿元，分别比上年增长18.0%、19.4%、27.1%。
            </p>
        </div>



        <div class="jumbotron">
            <h2 style="font-weight:bold">二、2013年全省民营经济发展具有以下特点</h2>
            <h3>1、民营经济投资步伐加快，力度加大   </h3>
            <p style="text-indent:2em" class="lead">2013年，全省计划总投资500万元及以上的民营经济单位固定资产投资3458.5亿元，比上年增长33.8%，占全省固定资产投资的比重达48.7%；其中，私营企业投资额1385.0亿元，比上年增长56.4%；其他有限责任公司投资额1605.6亿元，比上年增长21.1%。</p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">2、民营工业发展提速   </h3>
            <p style="text-indent:2em" class="lead">2013年，全省规模以上民营工业企业4369个，比上年增长13.5%，占全省规模以上工业单位数的比重85.6%；民营工业增加值1545.3亿元，比上年增长29.9%，增加值占全省规模以上工业的比重达54.2%；全年主营业务收入4122.7亿元，比上年增长33.1%；实现利润205.3亿元，比上年增长10.2%。</p>
            <p style="text-indent:2em" class="lead">从传统行业看，煤炭行业实现总产值1367.98亿元，实现增加值566.98亿元，同比增长27.4%；电力行业实现总产值71.65亿元，实现增加值22.01亿元，同比增长10.6%；建材行业实现总产值591.51亿元，实现增加值108.03亿元，同比增长40.9%；食品行业实现总产值399.34亿元，实现增加值103.86亿元，同比增长33.6%；医药行业实现总产值253.10亿元，增加值59.69亿元，同比增长15.7%。</p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">3、民营建筑业发展迅速   </h3>
            <p style="text-indent:2em" class="lead">2013年，全省资质以上民营建筑有工作量单位485个，建筑业总产值273.47亿元,比上年增长42.3%</p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">4、批零企业增长较快，住宿、餐饮业利润减少 </h3>
            <p style="text-indent:2em" class="lead">2013年，全省限额以上民营批发单位551个，主营业务收入950.13亿元，利润总额15.91亿元，分别比上年增长46.9%、121.6%、884.5%。</p>
            <p style="text-indent:2em" class="lead">全省限额以上民营零售单位1092个，主营业务收入941.46亿元，利润总额45.04亿元，分别比上年增长62.0%、125.3%、479.3%。</p>
            <p style="text-indent:2em" class="lead">全省限额以上民营住宿单位341个，主营业务收入32.94亿元，分别比上年增长33.2%、29.8%。全年限额以上住宿单位企业利润总额-0.88亿元，上年同期利润总额为171万元。</p>
            <p style="text-indent:2em" class="lead">全省限额以上民营餐饮单位290个，主营业务收入19.52亿元。分别比上年增长71.6%、19.9%。全年限额以上住宿单位企业利润总额-0.30亿元，上年同期利润总额为-0.18亿元。</p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">5、民营单位国税收入略有增长，比重较上年略有下降   </h3>
            <p style="text-indent:2em" class="lead">2013年，全省民营生产经营单位上缴国税204.4亿元，比上年增长1.5%， 占全部国税收入的比重为28.0%；其中民营企业上缴国税191.0亿元，比上年增长0.5%；个体经营户上缴国税13.3亿元，比上年增长17.7%。</p>
            <hr style="border-top: 1px solid #808080">
        </div>

    </div>
</body>
</html>
