@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body style="background-color:#393D49;">
    <div class="container">
        <div class="jumbotron">
            <h1>2015年民营经济发展运行情况综述</h1>
            <p style="text-indent:2em" class="lead">
                2015年，全省各地大力发展民营经济，积极实施民营经济三年倍增、五年行动计划，全省民营经济继续保持较快发展势头。
            </p>

        </div>

        <div class="jumbotron">
            <h2 style="font-weight:bold">一、民营经济总量扩大，比重继续提高 </h2>
            <p style="text-indent:2em" class="lead">
                全省民营经济实现增加值5246.2亿元，比上年增加了970.8亿元，占全省生产总值比重为50.0%，比上年增加了3.9个百分点。
            </p>

            <p style="text-indent:2em" class="lead">
                第一、二、三产业增加值939.4亿元、2353亿元、1953.8亿元，占全省三次产业生产总值的比重分别为57.3%、56.7%、41.4%。
            </p>
            <p style="text-indent:2em" class="lead">
                全省有民营企业15.83万户，从业人员273.34万人，资产总计26992.33亿元，分别比上年增长17.7%、11.3%、13.1%，占全省全部生产经营企业的比重分别为95.9%、70.3%、36.1%；个体经营户149.92万户，从业人员254.52万人，资产总计905.00亿元，分别比上年增长16.5%、15.3%、37.6%。
            </p>
        </div>


        <div class="jumbotron">
            <h2 style="font-weight:bold">二、2015年全省民营经济发展具有以下特点</h2>
            <h3>
                1、民营经济投资增速趋稳
            </h3>
            <p style="text-indent:2em" class="lead">
                2015年，全省计划总投资500万元及以上的民营经济单位固定资产投资4823.76亿元，比上年增长16.4%，占全省固定资产投资的比重达45.2%；其中，私营企业投资额2272.88亿元，比上年增长23.5%；其他有限责任公司投资额1968.42亿元，比上年增长6.3%。
            </p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">
                2、民营工业发展快速，但环比增速有所下降
            </h3>
            <p style="text-indent:2em" class="lead">
                2015年，全省规模以上民营工业企业5275个，比上年增长4.1%，占全省规模以上工业单位数的比重达87.3%；民营工业增加值2061亿元，比上年增长24.9%，增速比上年下降5个百分点。增加值占全省规模以上工业的比重55.4%；全年主营业务收入5278.5亿元，比上年增长12.3%；利润总额281亿元，比上年增长9.2%。

            </p>
            <p style="text-indent:2em" class="lead">
                煤炭行业实现总产值1379.82亿元，增加值561.35亿元，同比增长12.3%；电力行业总产值35.10亿元，增加值12.94亿元，同比增长39.9%；建材行业总产值947.43亿元，增加值211.26亿元，同比增长15.7%；食品行业总产值580.36亿元，增加值158.22亿元，同比增长14.4%；医药行业总产值374.77亿元，增加值91.77亿元，同比增长7.3%。
            </p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">
                3、民营建筑业发展迅速
            </h3>
            <p style="text-indent:2em" class="lead">
                2015年，全省资质以上民营建筑有工作量单位611个，建筑业总产值450.43亿元,比上年增长19.8%。
            </p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">
                4、贸经行业数量增长较快，但收入、利润同比下降
            </h3>

            <p style="text-indent:2em" class="lead">
                2015年，全省限额以上民营批发单位621个，主营业务收入1019.21亿元，实现利润106.83亿元，分别比上年增长-0.48%、47.03%、2544.30%。
            </p>

            <p style="text-indent:2em" class="lead">
                全省限额以上民营零售单位1509个，主营业务收入821.56亿元，利润总额9.63亿元，分别比上年增长14%、12%、0.21%。
            </p>
            <p style="text-indent:2em" class="lead">
                全省限额以上民营住宿单位439个，主营业务收入38.05亿元，分别比上年增长10.0%、12%。全年限额以上住宿单位企业利润总额-0.41亿元，上年同期利润总额为-2.43亿元。
            </p>
            <p style="text-indent:2em" class="lead">
                全省限额以上民营餐饮单位376个，主营业务收入21.83亿元。分别比上年增长1.34%、10.5%。全年限额以上住宿单位企业利润总额1.02亿元，上年同期利润总额为0.36亿元。
            </p>
            <hr style="border-top: 1px solid #808080">
            <h3 style="font-weight:bold">5、民营单位国税收入恢复增长      </h3>
            <p style="text-indent:2em" class="lead">
                2015年，全省民营生产经营单位上缴国税238.62亿元，比上年增长13.0%。
            </p>

            <hr style="border-top: 1px solid #808080">
        </div>

    </div>
    </body>
</html>
